{% extends "index.html" %}
{% block title %}Wnioski dotyczące filozofii po lekturze pana Tatarkiewicza{% endblock %}
{% block content %}

		<p class="text_title">Wnioski dotyczące filozofii po lekturze pana Tatarkiewicza</p>
		<p>&nbsp; </p>
		<p>Właśnie przeczytałam &bdquo;Historię Filozofii&rdquo; Tatarkiewicza. Wydawałoby się, że to kompendium wiedzy od starożytności po dni dzisiejsze wyjaśni zawiłość i r&oacute;żnorodność postaw wielkich filozof&oacute;w ludzkości. Niestety nic z tego &ndash; być może nie jestem dość pojętna albo poziom abstrakcji wykracza ponad pojęcie zwykłego śmiertelnika.</p>
		<p>Odkryjemy natomiast w tej lekturze parę ciekawych rzeczy. Po pierwsze od rywalizacji Arystotelesa i Platona po dwudziestowiecznych neopozytywist&oacute;w i egzystencjalist&oacute;w nic się nie zmieniło. Wciąż trwa ten sam sp&oacute;r o to, co jest rzeczywiste: świat realny czy subiektywne wyobrażenia oraz jak należy ten świat poznawać. Et cetera, et cetera.</p>
		<p>Po drugie od czas&oacute;w starożytnych filozofia właściwie była nauką. (Świat składa się z wody, ognia i powietrza! Nie, świat składa się z ognia, powietrza i ziemi!) Tylko z czasem znacząco się rozwinęła i podzieliła na nauki szczeg&oacute;łowe: fizykę, matematykę, psychologię, socjologię, logikę... et cetera, et cetera.</p>
		<p>Okazuje się, że filozofowie często pędzili smutny, samotniczy żywot, schnąc nad księgami i skrobiąc zapiski, kt&oacute;re przez chwilę zachwalane były jako rewolucyjne, by w kolejnych dekadach otrzymać etykietkę herezji. Były r&oacute;wnież jednak egzemplarze światowe, towarzyskie, brylujące w środowiskach inteligenckich oraz naukowych, kt&oacute;rym nie stawało czasu, by zostawić po sobie jakieś wielkie dzieło. Co ciekawe większość brawurowych system&oacute;w zrodziła się z pi&oacute;ra młodzieńc&oacute;w. Następnie nadchodziła krytyka dojrzałych sceptyk&oacute;w. I tak w koło Macieju.</p>
		<p>Strasznie to wszystko krytykanckie, ale zaprawdę czytając tę książkę, ma się wrażenie, że ludzie okropnie błądzą, plotą kompletne bzdury i ostatecznie taka właśnie jest droga do prawdy - przez ciernie i ślepe uliczki.</p>
		<p>Może dlatego ze wszystkich myślicieli najbardziej spodobał mi się pan George Moore, kt&oacute;ry po latach życia spędzonych na konstruowaniu swej ralistycznej filozofii uznał, że jego idealistyczni przeciwnicy r&oacute;wnież bardzo logicznie i przekonująco uzasadniają własne poglądy i właściwie, choć wygląda to na niepewność i zdradę, ich stanowisko może być r&oacute;wnie słuszne jak jego własne. Biedny filozof naprawdę znalazł się w kropce i bardzo chciał zająć kt&oacute;reś ze stanowisk, lecz na żadne nie m&oacute;gł się zdecydować.</p>
		<p>I myślę, że to niezdecydowanie wyrosłe na prawdziwej rzetelności i wiedzy stanowi najlepszą odpowiedź.</p>
		<p>&nbsp; </p>
		<p class="year">2018</p>
		<p>&nbsp; </p>

{% endblock %}
