{% extends "index.html" %}
{% block title %}>1994-2013 okres dziecinny{% endblock %}
{% block content %}
    <div style="text-indent: 0px;">
        <p align="CENTER" class="text_title">Oddechy</p>
	    <p>&nbsp; </p>
        <p align="CENTER">Widzę w słabej ręce ojca,</p>
        <p align="CENTER">w zgiętym karku matki</p>
        <p align="CENTER">nieubłagane oko czasu,</p>
        <p align="CENTER">kt&oacute;re śledzi każdy m&oacute;j krok</p>
        <p align="CENTER">i nie-krok. Ono widzi,</p>
        <p align="CENTER">że za mną nie ma nic</p>
        <p align="CENTER">i przede mną nie ma nic,</p>
        <p align="CENTER">i tylko liczy moje oddechy:</p>
        <p align="CENTER">wdech, wydech, wdech, wydech...</p>
        <p class="year">2013</p>
        <p>&nbsp; </p>

        <p align="CENTER" class="text_title">Wiosna</p>
	    <p>&nbsp; </p>
        <p align="CENTER">&bdquo;Dokąd człeku, dokąd wszyscy znowu się spieszycie?</p>
        <p align="CENTER">Czy tych cud&oacute;w wybujałej wiosny nie widzicie?&rdquo;</p>
        <p align="CENTER">&bdquo;Czas do pracy. Obowiązki. O co tobie chodzi?&rdquo;</p>
        <p align="CENTER">&bdquo;Jak to: o co? Sp&oacute;jrz nad wodę &ndash; tam się słońce rodzi.</p>
        <p align="CENTER">Wszystkie kwiaty w ciepłym blasku mienią się tak pięknie</p>
        <p align="CENTER">barw miriadem.&rdquo; &bdquo;Przestań gadać. Tramwaj mi ucieknie.&rdquo;</p>
        <p align="CENTER">&bdquo;Tramwaj też jest dzisiaj piękny. Lekki wiatr owiewa</p>
        <p align="CENTER">jego obły kadłub, stal połyska, nawet śpiewa</p>
        <p align="CENTER">mu sikorka, gdy go mija. Słyszysz?&rdquo; &bdquo;Coś ci powiem:</p>
        <p align="CENTER">Zajmij siebie czymś praktycznym. Nie ma w tej rozmowie</p>
        <p align="CENTER">nic mądrego.&rdquo; &bdquo;O! Jest cała mądrość życia, szczęścia,</p>
        <p align="CENTER">piękna...&rdquo; &bdquo;Tak? Zawracasz ludziom głowę. Zr&oacute;b mi przejścia...&rdquo;</p>
        <p class="year">2013</p>
        <p>&nbsp; </p>

        <p align="CENTER" class="text_title">Dyfuzja</p>
        <p>&nbsp; </p>
        <p align="CENTER">Dusza ma była w stanie równowagi</p>
        <p align="CENTER">Pókiś nie zwrócił, miły, mej uwagi.</p>
        <p align="CENTER">W sercu miałam spokój – wdarł się obcy jon.</p>
        <p align="CENTER">Teraz całe mnóstwo płynie z wszystkich stron.</p>
        <p align="CENTER">Wokół coraz większe ich stężenie czuć.</p>
        <p align="CENTER">Myśli me wypełniasz teraz całkiem już.</p>
        <p align="CENTER">Nagle spojrzysz czule – tak się utworzy</p>
        <p align="CENTER">Nowa równowaga w naszym roztworze.</p>
        <p class="year">2011</p>
        <p>&nbsp; </p>

        <p align="CENTER" class="text_title">Moris rozwiązuje sudoku</p>
        <p>&nbsp; </p>
        <p align="CENTER">Był kiedyś mały Moris różowy</p>
        <p align="CENTER">Obgryzał ołówek i myślał tak:</p>
        <p align="CENTER">W sudoku zawsze mam obmyślony</p>
        <p align="CENTER">plan co mam wpisać gdzie i jak.</p>
        <p align="CENTER">Wystarczy mi skupić się na chwilkę</p>
        <p align="CENTER">Brew zmarszczę lekko i w palce pstryknę</p>
        <p align="CENTER">Cyfry wśród kratek mkną energicznie</p>
        <p align="CENTER">i wnet układają się logicznie.</p>
        <p align="CENTER">Tu każda cyfra z męstwem rekruta</p>
        <p align="CENTER">Na rozkaz czeka i w wir się rzuca</p>
        <p align="CENTER">Gdzie fala cyfr się kłębi i piany</p>
        <p align="CENTER">Odpowiedź kryją gęste tumany.</p>
        <p align="CENTER">Skrzyknął wnet Moris myśli co lepsze</p>
        <p align="CENTER">I choć głębina broni się jeszcze</p>
        <p align="CENTER">Cyfry znużone do walki grzeje,</p>
        <p align="CENTER">wdziera w ciemności na wojsk swych czele.</p>
        <p align="CENTER">Już pierwsze błyski tną zbite kłęby</p>
        <p align="CENTER">zgina się, łamie czarna powłoka</p>
        <p align="CENTER">Grzmią nieprzerwanie zewsząd komendy</p>
        <p align="CENTER">i coraz bardziej rzednie pomroka.</p>
        <p align="CENTER">Wnet tajemnica pęka, cyfr rzeka</p>
        <p align="CENTER">w ordynku pole bitwy zalewa</p>
        <p align="CENTER">I w jasnym świetle myśl w szranki staje</p>
        <p align="CENTER">bije zagadkę, gna, nie ustaje...</p>
        <p align="CENTER">W pędzie szalonym dzikiego zwierza</p>
        <p align="CENTER">z hukiem w opokę nagle uderza</p>
        <p align="CENTER">gdyż wyrósł przed nią zamek potężny</p>
        <p align="CENTER">i skruszył serca cyferek mężnych.</p>
        <p align="CENTER">Myśl się spolątała, labirynt głuchy</p>
        <p align="CENTER">Omiótł cne wojska i w mgle osadził</p>
        <p align="CENTER">Ogromna wieża patrzy nań z góry</p>
        <p align="CENTER">Brzuch swój kamienny wypnie i wadzi.</p>
        <p align="CENTER">Nie zląkł się Moris, umysł wytężył</p>
        <p align="CENTER">i fort potężny zaraz oblężył.</p>
        <p align="CENTER">Z jednej to z drugiej strony chce podejść</p>
        <p align="CENTER">Szpareczki szuka w litej przeszkodzie.</p>
        <p align="CENTER">Nagle jest! Znalazł! Oto zwycięstwo!</p>
        <p align="CENTER">Strumyczek cyfr rozlewa się gęsto.</p>
        <p align="CENTER">Luki wypełnia! Gna tyraliera!</p>
        <p align="CENTER">Moris wygrywa jeden do zera!</p>
        <p class="year">2011</p>
        <p>&nbsp; </p>

        <p align="CENTER" class="text_title">*</p>
	    <p>&nbsp; </p>
        <p align="CENTER">Rozpruj dociekań szew skrupulatny,</p>
        <p align="CENTER">Zostaw mnie w polu z nicią Ariadny</p>
        <p align="CENTER">I w horyzontu stronę mnie popchnij,</p>
        <p align="CENTER">Abym bez końca szła, doł&oacute;ż stopni,</p>
        <p align="CENTER">A gdy u szczytu cel sw&oacute;j osiągnę,</p>
        <p align="CENTER">By wygrać z Sfinksem tylko wyciągnę</p>
        <p align="CENTER">Rękę zachłanną ku prawdy kiści,</p>
        <p align="CENTER">Oślep mnie blaskiem wschodzącej myśli</p>
        <p align="CENTER">I zwr&oacute;conemu powoli wzroku</p>
        <p align="CENTER">Ukarz zn&oacute;w otchłań egipskich mrok&oacute;w,</p>
        <p align="CENTER">Oświetl nieboskłon znak&oacute;w milionem</p>
        <p align="CENTER">I mnie w materii zawieś znikomej.</p>
        <p align="CENTER">By raz odebrać wszelkie domysły</p>
        <p align="CENTER">I w życie popchnąć, w świat rzeczywisty.</p>
        <p class="year">2009</p>
        <p>&nbsp; </p>

        <p align="CENTER" class="text_title">Poszukaj</p>
	    <p>&nbsp; </p>
        <p align="CENTER">Popatrz. Poszukaj.</p>
        <p align="CENTER">Zajrzyj pod dywan, ten z przedpokoju</p>
        <p align="CENTER">I do wazon&oacute;w, co w kuchni stoją.</p>
        <p align="CENTER">Zerknij, czy nie ma go za paprocią,</p>
        <p align="CENTER">tą, co zakwita cudownie nocą.</p>
        <p align="CENTER">Wiem! A ja w tym czasie wejdę na strych.</p>
        <p align="CENTER">Może skryło się we wspomnieniach twych?</p>
        <p align="CENTER">Może schowało się na balkonie?</p>
        <p align="CENTER">Sprawdź, czy przypadkiem w wannie nie tonie.</p>
        <p align="CENTER">Najlepiej przejrzyj wszystkie szuflady.</p>
        <p align="CENTER">Ja zajrzę pod dwie dębowe szafy.</p>
        <p align="CENTER">C&oacute;ż, tylko kurz tu znalazłam, trudno.</p>
        <p align="CENTER">Posprzątam p&oacute;źniej, strasznie tu brudno.</p>
        <p align="CENTER">Nie ma w wazonie? Czy jesteś pewna?</p>
        <p align="CENTER">Może za szafką z jasnego drewna?</p>
        <p align="CENTER">Czy się wcisnęło w kuchenne wnyki?</p>
        <p align="CENTER">Na parapecie stoją słoiki.</p>
        <p align="CENTER">Zdejmij przykrywkę, może jest w środku.</p>
        <p align="CENTER">Może śpi słodko na chińskim spodku.</p>
        <p align="CENTER">Sprawdziłaś kredens, biurko, lod&oacute;wkę?</p>
        <p align="CENTER">Wiesz, ja odkręcę tamtą żar&oacute;wkę.</p>
        <p align="CENTER">Tu także nie ma? Gdzie się podziało?</p>
        <p align="CENTER">Przecież na środku pokoju stało.</p>
        <p align="CENTER">Może uciekło cieszyć gdzie indziej</p>
        <p align="CENTER">lub szlocha cicho, tam, w ciemnej windzie.</p>
        <p align="CENTER">Popatrz. Poszukaj. Przecież być musi!</p>
        <p align="CENTER">Pom&oacute;ż poszukać. Ono się dusi!</p>
        <p align="CENTER">Razem, powoli znajdziemy szczęście,</p>
        <p align="CENTER">Bo przecież zawsze gdzieś tutaj będzie.</p>
        <p class="year">2005</p>
        <p>&nbsp; </p>

        <p align="CENTER" class="text_title">*</p>
        <p>&nbsp; </p>
        <p align="CENTER">Lubimy słodycze</p>
        <p align="CENTER">fiaty i prycze.</p>
        <p class="year">1994</p>
        <p>&nbsp; </p>
    </div>
{% endblock %}
