{% extends "index.html" %}
{% block title %}>2014-2015 okres nierozwagi{% endblock %}
{% block content %}
    <div style="text-indent: 0px;">
	    <p align="CENTER" class="text_title">Ciało</p>
	    <p>&nbsp; </p>
		<p align="CENTER">Pulsujące organy ściśnięte w worku sk&oacute;rzanym.</p>
        <p align="CENTER">Wstrząsane ciągłą erupcją oksytocyn i adrenalin.</p>
        <p align="CENTER">Chyba pęknąć powinno, takie miękkie i poobijane.</p>
        <p align="CENTER">&nbsp;</p>
        <p align="CENTER">Co raz nowy estrogen rozsadza trzewia w euforii.</p>
        <p align="CENTER">Rwie bezsilne wiązania pod nawałą endorfin.</p>
        <p align="CENTER">A ono rzęzi i dyszy, i dalej chodzi rozklekotane.</p>
        <p align="CENTER">&nbsp;</p>
        <p align="CENTER">Choć je pochyla do ziemi niepojęta autodestrukcja,</p>
        <p align="CENTER">Niesie z troską w ramionach gruzy wojen hormon&oacute;w,</p>
        <p align="CENTER">Oby nic nie uronić z własnej miarki atom&oacute;w.</p>
        <p align="CENTER">Jak zmyśliła figlarna, beztroska czy zła ewolucja.</p>
        <p class="year">2015</p>
        <p>&nbsp; </p>

        <p align="CENTER" class="text_title">Krystian w swoim nowym mieszkaniu</p>
	    <p>&nbsp; </p>
        <p align="CENTER">Tak mi smutno! Tak mi źle!</p>
        <p align="CENTER">Siedzę w ciemni jeden sam</p>
        <p align="CENTER">I depresja gnębi mnie.</p>
        <p align="CENTER">I zmartwienie wielkie mam!</p>
        <p align="CENTER">&nbsp;</p>
        <p align="CENTER">Nad mą głową pok&oacute;j jasny,</p>
        <p align="CENTER">Co go sam umeblowałem.</p>
        <p align="CENTER">W nim weselą się mieszkańcy.</p>
        <p align="CENTER">Ja to szczęście im oddałem!</p>
        <p align="CENTER">&nbsp;</p>
        <p align="CENTER">Pod nogami ziemia pusta.</p>
        <p align="CENTER">Zimno, mrocznie, wieje cug.</p>
        <p align="CENTER">Znowu piję sam do lustra.</p>
        <p align="CENTER">Oczy smutne wwiercam w r&oacute;g.</p>
        <p align="CENTER">&nbsp;</p>
        <p align="CENTER">Tylko ślepię z naprzeciwka</p>
        <p align="CENTER">Słabym blaskiem gore w ścianie.</p>
        <p align="CENTER">Nieme drwiny we mnie ciska -</p>
        <p align="CENTER">Rzuca cień na to mieszkanie.</p>
        <p class="year">2015</p>
        <p>&nbsp; </p>

        <p align="CENTER" class="text_title">Spacer po Pradze</p>
	    <p>&nbsp; </p>
        <p align="CENTER">Chodź. Tędy jeszcze nie szliśmy.</p>
        <p align="CENTER">Za tym zakrętem jest stara Praga:</p>
        <p align="CENTER">Szczerbate parkany i ławki z odpryskiem farby,</p>
        <p align="CENTER">Domy ceglane przystemplowane &bdquo;Legia Warszawa&rdquo;.</p>
        <p align="CENTER">&nbsp;</p>
        <p align="CENTER">Dokąd idziemy?</p>
        <p align="CENTER">Przez rudą bramę i zarośnięte podw&oacute;rze,</p>
        <p align="CENTER">Po płytkach rozchybotanych, w pył.</p>
        <p align="CENTER">Chyba sami dobrze nie wiemy.</p>
        <p align="CENTER">&nbsp;</p>
        <p align="CENTER">Patrz. W czarnym piasku złoty grosik.</p>
        <p align="CENTER">Weźmy go w ręce &ndash; ja orłem, ty reszką.</p>
        <p align="CENTER">On wyprowadzi szczęśliwie z zaułka.</p>
        <p align="CENTER">Zza witek wiązu przeziera cel.</p>
        <p class="year">2015</p>
        <p>&nbsp; </p>

        <p align="CENTER" class="text_title">O dążeniu do celu</p>
	    <p>&nbsp; </p>
        <p align="CENTER">Wszystko może zawieść:</p>
        <p align="CENTER">przemyślna dialektyka</p>
        <p align="CENTER">podjazdowa taktyka</p>
        <p align="CENTER">złotonośne miraże</p>
        <p align="CENTER">najpodlejsze szantaże</p>
        <p align="CENTER">teatralne histerie</p>
        <p align="CENTER">i wyznanie rzetelne.</p>
        <p align="CENTER">&nbsp;</p>
        <p align="CENTER">A jeszcze zostanie</p>
        <p align="CENTER">nieskończone czekanie.</p>
        <p class="year">2015</p>
        <p>&nbsp; </p>

        <p align="CENTER" class="text_title">Super Matematyk ratuje świat</p>
	    <p>&nbsp; </p>
        <p align="CENTER">Jak każdego dnia wieczorem</p>
        <p align="CENTER">po dniu zajęć całym w szkole</p>
        <p align="CENTER">matematyk świat chce zbawić</p>
        <p align="CENTER">i od złego was wybawić.</p>
        <p align="CENTER">Czy to dzieci na podw&oacute;rku</p>
        <p align="CENTER">skaczą po napiętym sznurku</p>
        <p align="CENTER">i na domowe zadanie</p>
        <p align="CENTER">dać im trzeba rozwiązanie.</p>
        <p align="CENTER">Czy to babcia biedna w sklepie</p>
        <p align="CENTER">przy kasjerce się telepie</p>
        <p align="CENTER">i rachunek się nie zgadza.</p>
        <p align="CENTER">Jak odliczyć on doradza.</p>
        <p align="CENTER">Znajomemu strażakowi</p>
        <p align="CENTER">statystykę darmo robi</p>
        <p align="CENTER">ile życia mu zostało</p>
        <p align="CENTER">i czy z akcji wr&oacute;ci cało.</p>
        <p align="CENTER">A kto kiedy kredyt weźmie</p>
        <p align="CENTER">wie co zwr&oacute;cić trzeba będzie.</p>
        <p align="CENTER">Raty wszystkie w mig policzy,</p>
        <p align="CENTER">bo procenty w szkole ćwiczy.</p>
        <p align="CENTER">Gdy się skończy na dziś praca</p>
        <p align="CENTER">super matematyk wraca</p>
        <p align="CENTER">do rodzinnych swych pieleszy</p>
        <p align="CENTER">by małżonce z radą spieszyć.</p>
        <p align="CENTER">Ona piecze tort dla malca,</p>
        <p align="CENTER">on liczy objętość walca</p>
        <p align="CENTER">gdzie się ciasto dobrze zmieści.</p>
        <p align="CENTER">Na gotowym wzory kreśli</p>
        <p align="CENTER">aby synek znał twierdzenia</p>
        <p align="CENTER">tak Cauchiego jak Eulera.</p>
        <p align="CENTER">Cała świętuje rodzina,</p>
        <p align="CENTER">synek tort z Eulerem wcina,</p>
        <p align="CENTER">matematyk zaś w swych myślach</p>
        <p align="CENTER">twierdzeń nowych moc obmyśla</p>
        <p align="CENTER">i tak duma pod łysiną:</p>
        <p align="CENTER">Świat beze mnie byłby zginął!</p>
        <p class="year">2014</p>
        <p>&nbsp; </p>

        <p align="CENTER" class="text_title">Serwis informacyjny</p>
	    <p>&nbsp; </p>
        <p align="CENTER">Szanowni państwo!</p>
        <p align="CENTER">Jestem w samym centrum wydarzeń!</p>
        <p align="CENTER">Specjalnie dla państwa!!</p>
        <p align="CENTER">Oto najważniejsze informacje!!</p>
        <p align="CENTER">Spadł...</p>
        <p align="CENTER">Nie! Nie tyran ze stołka.</p>
        <p align="CENTER">Nie meteor z kosmosu.</p>
        <p align="CENTER">Nie dolar. Nie frank.</p>
        <p align="CENTER">Spadł...</p>
        <p align="CENTER">Śnieg!!!</p>
        <p class="year">2014</p>
        <p>&nbsp; </p>

        <p align="CENTER" class="text_title">W Raju</p>
	    <p>&nbsp; </p>
        <p align="CENTER">Dobrześ zrobił synu m&oacute;j,</p>
        <p align="CENTER">żeś nie zerwał jabłka.</p>
        <p align="CENTER">Już na zawsze Raj jest tw&oacute;j</p>
        <p align="CENTER">w pięknie i dostatkach.</p>
        <p align="CENTER">&nbsp;</p>
        <p align="CENTER">Gałąź, pusta, chwieje się;</p>
        <p align="CENTER">zięba po niej skacze.</p>
        <p align="CENTER">Śpiewa, ale milknie wnet.</p>
        <p align="CENTER">Cisza. Adam płacze.</p>
        <p class="year">2014</p>
        <p>&nbsp; </p>

        <p align="CENTER" class="text_title">W Bezdeszcz (Do P.R.)</p>
	    <p>&nbsp; </p>
        <p align="CENTER">Nie jesteś orzeł na przestworzu,</p>
        <p align="CENTER">Ani w marmurze rżnięty posąg.</p>
        <p align="CENTER">Nie jesteś perłopławem w morzu,</p>
        <p align="CENTER">Ni śmiechem mew, gdy zgiełk podniosą.</p>
        <p align="CENTER">&nbsp;</p>
        <p align="CENTER">Ty jesteś obłok, co wysoko</p>
        <p align="CENTER">po rozciągniętym, jasnym niebie</p>
        <p align="CENTER">chodzi powoli, baczne oko</p>
        <p align="CENTER">kierując na spękaną ziemię</p>
        <p align="CENTER">i rześkim ją obmywa cieniem.</p>
        <p class="year">2014</p>
        <p>&nbsp; </p>

        <p align="CENTER" class="text_title">Filozof</p>
	    <p>&nbsp; </p>
        <p align="CENTER">Niejeden filozof piejąc głowie</p>
        <p align="CENTER">wieńczył myślą płodną swoje życie.</p>
        <p align="CENTER">Każdy m&oacute;wi: wielki był myśliciel.</p>
        <p align="CENTER">Kto nie myśli: dziwny, chory człowiek?</p>
        <p class="year">2014</p>
        <p>&nbsp; </p>
    </div>
{% endblock %}
