{% extends "index.html" %}
{% block title %}>2016-2018 okres dojrzały{% endblock %}
{% block content %}
    <div style="text-indent: 0px;">
		<p id="zabki" align="CENTER" class="text_title">Ząbki!</p>
		<p>&nbsp;</p>
		<p align="CENTER">Gdy ul miejski wymęczy i zgnębi,</p>
		<p align="CENTER">Stłucze głowę i plany rozsypie,</p>
		<p align="CENTER">Na Wileński przycz&oacute;łek przepędzi:</p>
		<p align="CENTER">Tam wybiega w dal arka z okrzykiem.</p>
		<p align="CENTER">&nbsp;</p>
		<p align="CENTER">Pędzi w światło i zieleń, i przestrzeń,</p>
		<p align="CENTER">Ciągnie bagaż zgorzkniałych rozmyślań</p>
		<p align="CENTER">I przemywa je nieba błękitem</p>
		<p align="CENTER">I przewietrza je świeżym powietrzem.</p>
		<p align="CENTER">&nbsp;</p>
		<p align="CENTER">Aż, gdy z objęć wypuści leciutko,</p>
		<p align="CENTER">Na grunt twardy w krainę tęczową</p>
		<p align="CENTER">Między domki i drzewka malutkie,</p>
		<p align="CENTER">To też troski skarleją nieswojo.</p>
		<p align="CENTER">&nbsp;</p>
		<p align="CENTER">I pierś pełna odetchnie spokojem,</p>
		<p align="CENTER">Myśli umkną po długim peronie,</p>
		<p align="CENTER">Zaś ch&oacute;r wr&oacute;bli pożegna świergotem</p>
		<p align="CENTER">Rozpędzony świst w słońca welonie.</p>
		<p class="year">2018</p>
		<p>&nbsp; </p>

    <p align="CENTER" class="text_title">Spotkanie</p>
		<p>&nbsp; </p>
		<p align="CENTER">Didżej rozsadza salę</p>
    <p align="CENTER">Światła dygoczą na rzęsach</p>
    <p align="CENTER">Nikt na nas nie patrzy i tylko</p>
    <p align="CENTER">Obrączki błyskają przysięgą</p>
    <p align="CENTER">&nbsp;</p>
    <p align="CENTER">I błękit twych oczu zdziwionych</p>
    <p align="CENTER">Radosną mi śpiewa piosenkę</p>
    <p align="CENTER">A palce niebaczne ciężaru</p>
    <p align="CENTER">Sięgają omacko za szczęściem</p>
    <p align="CENTER">&nbsp;</p>
    <p align="CENTER">Na cóż to późne spotkanie?</p>
    <p align="CENTER">Na sąd i na kwasy sumienia?</p>
    <p align="CENTER">Wpatrują się oczy stęsknione</p>
    <p align="CENTER">W zwierciadło porozumienia</p>
    <p align="CENTER">&nbsp;</p>
    <p align="CENTER">Nikt nas nie widzi w tej wrzawie</p>
    <p align="CENTER">Kulę się w ciepłych ramionach</p>
    <p align="CENTER">Dzisiaj jestem pijana</p>
    <p align="CENTER">Jutro - będę rozsądna</p>
		<p class="year">2017</p>
		<p>&nbsp; </p>

		<p align="CENTER" class="text_title">*</p>
		<p>&nbsp; </p>
		<p align="CENTER">Feniksie serca wylęgły z popioł&oacute;w</p>
		<p align="CENTER">Niemądra kulko rzadkiego pierzu</p>
		<p align="CENTER">Wyciągasz ciekawie pisklęcą szyję</p>
		<p align="CENTER">Dziobiesz i drapiesz niebacznie</p>
		<p align="CENTER">Rozrzucasz dokoła wystygły pył</p>
		<p align="CENTER">Zn&oacute;w chcesz nauczyć się latać</p>
		<p align="CENTER">Na własne całopalenie</p>
		<p class="year">2017</p>
		<p>&nbsp; </p>

    <p align="CENTER" class="text_title">Dziesięć zasad cnotliwego</p>
    <p>&nbsp; </p>
    <p align="CENTER">1. Nie myśl. Nie pytaj. Słuchaj.</p>
    <p align="CENTER">2. Gódź się z nieszczęściem w milczeniu.</p>
    <p align="CENTER">3. Stój na straży ginących tradycji.</p>
    <p align="CENTER">4. Podążaj wskazaną ci ścieżką.</p>
    <p align="CENTER">5. Nie wymierzaj sprawiedliwości.</p>
    <p align="CENTER">6. Zwalczaj popędy własnej biologii.</p>
    <p align="CENTER">7. Nie dopuść się złego w najgorszej godzinie.</p>
    <p align="CENTER">8. Nie odpowiadaj na cudze kalumnie.</p>
    <p align="CENTER">9. Zapomnij tę, którą kochasz.</p>
    <p align="CENTER">10. I to, co kiedykolwiek uczciwie ci się należało.</p>
    <p class="year">2016</p>
    <p>&nbsp; </p>

    <p id="piosenka-o-kosmosie" align="CENTER" class="text_title">Piosenka o kosmosie (do muzyki Synka)</p>
    <p>&nbsp; </p>
    <p align="CENTER">Lata świetlne – nie ma nic</p>
    <p align="CENTER">Niemy kosmos, mrok i mróz</p>
    <p align="CENTER">Hen, samotna płonie nić</p>
    <p align="CENTER">W martwej próżni błysk i ruch.</p>
    <p>&nbsp; </p>
    <p align="CENTER">Skryta w jednej z mlecznych dróg</p>
    <p align="CENTER">Gwarna, ludna Ziemia drży</p>
    <p align="CENTER">Tupot mrowia ziemskich nóg</p>
    <p align="CENTER">W kosmos niesie się jak krzyk.</p>
    <p>&nbsp; </p>
    <p align="CENTER">A może jest</p>
    <p align="CENTER">Jeszcze gdzieś, jeszcze ktoś</p>
    <p align="CENTER">Hop! Hop Hop!</p>
    <p>&nbsp; </p>
    <p align="CENTER">Może gdzieś jeszcze jest</p>
    <p align="CENTER">Inny – wołający glob</p>
    <p>&nbsp; </p>
    <p align="CENTER">Pustko – raz odpowiedź daj!</p>
    <p align="CENTER">Dokąd biegnie ziemian głos?</p>
    <p align="CENTER">Gdy wszechświata dogna skraj,</p>
    <p align="CENTER">Czy go tam usłyszy ktoś?</p>
    <p>&nbsp; </p>
    <p align="CENTER">Błysk, błysk błysk x1000</p>
    <p class="year">2016</p>
    <p>&nbsp; </p>
    </div>
{% endblock %}
