<!DOCTYPE html>

<html>
<head>
      <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143106341-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-143106341-1', {
           'custom_map': {'dimension1': 'kein_bot'}
      });
      gtag('event', 'bot_dimension', {'kein_bot': 'true'});
    </script> -->

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'bryopo/style.css' %}">
        <script type="text/javascript" src="{% static 'bryopo/script.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
	<title>brydzenie</title>
</head>
<body>
	<div class="brown"></div>
	<div id="navbar" class="orange">
        <div style="display: inline-block;">
            <a href="/"><p class="header">brydzenie</p></a>
        </div>
    </div>
    <div id="container" class="container">
        <div class="bar">
          <div id="opo1">
              <div class="titles"><p>Świeże bułeczki</p></div>
              <p class="subtitles">Czyli co upiekło się ostatnio</p></a>
                <div class="opo-content">
                  {% for o in najnowsze %}
                  <span title="{{ o.opo_cat_name }}"><a href="{% url 'bryopo:opo_chosen' o.opo_cat o.opo_name %}"><div class="titles"><p>{{ o.opo_title }}</p></div></a></span>
                  {% endfor %}
                  <span title="Pół żartem"><a href="/o-zbyt-dlugim-imieniu"><div class="titles"><p>O zbyt długim imieniu</p></div></a></span>
                  <span title="Zakalec twórczy"><a href="/zakalec/o-etruskach"><div class="titles"><p>O Etruskach faktów kilka</p></div></a></span>
                  <span title="Zakalec twórczy"><a href="/zakalec/obraz-swiata-wedlug-starozytnych"><div class="titles"><p>Obraz świata według starożytnych</p></div></a></span>
                </div>
          </div>
          <br>
          <div id="opo2">
              <div class="titles"><p>Pół żartem</p></div>
              <p class="subtitles">Czyli na słodko</p></a>
                <div class="opo-content">
                  {% for o in zartem %}
                  <a href="{% url 'bryopo:opo_chosen' o.opo_cat o.opo_name %}"><div class="titles"><p>{{ o.opo_title }}</p></div></a>
                  {% endfor %}
                </div>
          </div>
          <br>
          <div id="opo3">
              <div class="titles"><p>Pół serio</p></div>
              <p class="subtitles">Czyli keks z kamieniami</p></a>
                <div class="opo-content">
                  <a href="/sos"><div class="titles"><p>SOS</p></div></a>
                  <a href="/fantom"><div class="titles"><p>Fantom</p></div></a>
                  <a href="/sami-w-kosmosie"><div class="titles"><p>Sami w kosmosie</p></div></a>
                  <a href="/panstwo-niebieskie"><div class="titles"><p>Państwo Niebieskie</p></div></a>
                  <a href="/co-robic-po-studiach"><div class="titles"><p>Co robić po studiach?</p></div></a>
                  <!--<a href="/error404"><div class="titles"><p>Lustro</p></div></a>-->
                  <a href="/biochemia"><div class="titles"><p>Biochemia</p></div></a>
                </div>
          </div>
          <br>
          <div id="opo4">
              <div class="titles"><p>Zakalec twórczy</p></div>
              <p class="subtitles">Czyli recenzje i opinie</p></a>
                <div class="opo-content">
                  <a href="/zakalec/o-etruskach"><div class="titles"><p>O Etruskach faktów kilka</p></div></a>
                  <a href="/zakalec/obraz-swiata-wedlug-starozytnych"><div class="titles"><p>Obraz świata według starożytnych</p></div></a>
                  <a href="/zakalec/o-japonii"><div class="titles"><p>O szalonej i niepowtarzalnej Japonii</p></div></a>
                  <a href="/zakalec/na-temat-terraformacji-marsa"><div class="titles"><p>Na temat terraformacji Marsa</p></div></a>
                  <a href="/zakalec/wnioski-dotyczace-filozofii"><div class="titles"><p>Wnioski dotyczące filozofii...</p></div></a>
                  <a href="/zakalec/recenzja-sztuki-jakobi-i-leidental"><div class="titles"><p>Recenzja sztuki "Jakobi i Leidental"...</p></div></a>
                </div>
          </div>
          <br>
          <div id="opo5">
              <div class="titles"><p>Okruchy</p></div>
              <p class="subtitles">Czyli krótko i lirycznie</p></a>
                <div class="opo-content">
                  <a href="/okruchy/2016-2018"><div class="titles"><p>2016-2018 okres dojrzały</p></div></a>
                  <a href="/okruchy/2014-2015"><div class="titles"><p>2014-2015 okres nierozwagi</p></div></a>
                  <a href="/okruchy/1994-2013"><div class="titles"><p>1994-2013 okres dziecinny</p></div></a>
                </div>
          </div>
          <br>
          <a href="/newsletter"><p class="bar_newsletter"><strong>Newsletter</strong></p>
          <p class="subtitles">Otrzymaj powiadomienie o nowym wpisie</p></a>
        </div>


        <div id="opo" class="content text">
           {% block content %}
           <div class="index">
               <p>Nierozważny włóczynecie! <br>Witaj w świecie ciastek i słów! <br>Oby nie zwiodła cię cukierkowa szata graficzna tej strony. <br>Raczej pomnij na jej motto:</p><br>
               <p class="quote">Księgi nie po to są, by w nie wierzyć, lecz by poddawać je badaniu. [...] Trzeba sprawdzić, z jakiej danej oryginalnego doświadczenia zrodziła się litera. Nad literą należy dyskutować, nawet jeśli utajony sens pozostaje słuszny.</p>
               <br><p style="text-align: right;">Umberto Eco</p>
           </div>
           {% endblock %}
        </div>


        <div class="cookies"></div>
    </div>
    <!--
    <div class="links">
        <p><a href="jak-byc-patriota" class="zostaw-slad">Zostaw po sobie ślad!</a></p>
    </div>
    -->


</body>
</html>
