{% extends "index.html" %}
{% block title %}Matematyk{% endblock %}
{% block content %}

    <div class="Super_Matematyk">
	    <p class="western" style="margin-bottom: 0cm;" align="CENTER"><strong>Super Matematyk Ratuje Świat</strong></p>
	    <p class="western" style="margin-bottom: 0cm;" align="CENTER">&nbsp; </p>
	    <p class="western" style="margin-bottom: 0cm;" align="CENTER">Jak każdego dnia wieczorem</p>
	    <p class="western" style="margin-bottom: 0cm;" align="CENTER">po dniu zajęć całym w szkole</p>
	    <p class="western" style="margin-bottom: 0cm;" align="CENTER">matematyk świat chce zbawić</p>
	    <p class="western" style="margin-bottom: 0cm;" align="CENTER">i od złego was wybawić.</p>
	    <p class="western" style="margin-bottom: 0cm;" align="CENTER">Czy to dzieci na podw&oacute;rku</p>
	    <p class="western" style="margin-bottom: 0cm;" align="CENTER">skaczą po napiętym sznurku</p>
	    <p class="western" style="margin-bottom: 0cm;" align="CENTER">i na domowe zadanie</p>
	    <p class="western" style="margin-bottom: 0cm;" align="CENTER">dać im trzeba rozwiązanie.</p>
	    <p class="western" style="margin-bottom: 0cm;" align="CENTER">Czy to babcia biedna w sklepie</p>
	    <p class="western" style="margin-bottom: 0cm;" align="CENTER">przy kasjerce się telepie</p>
	    <p class="western" style="margin-bottom: 0cm;" align="CENTER">i rachunek się nie zgadza.</p>
	    <p class="western" style="margin-bottom: 0cm;" align="CENTER">Jak odliczyć on doradza.</p>
	    <p class="western" style="margin-bottom: 0cm;" align="CENTER">Znajomemu strażakowi</p>
	    <p class="western" style="margin-bottom: 0cm;" align="CENTER">statystykę darmo robi</p>
	    <p class="western" style="margin-bottom: 0cm;" align="CENTER">ile życia mu zostało</p>
	    <p class="western" style="margin-bottom: 0cm;" align="CENTER">i czy z akcji wr&oacute;ci cało.</p>
	    <p class="western" style="margin-bottom: 0cm;" align="CENTER">A kto kiedy kredyt weźmie</p>
	    <p class="western" style="margin-bottom: 0cm;" align="CENTER">wie co zwr&oacute;cić trzeba będzie.</p>
	    <p class="western" style="margin-bottom: 0cm;" align="CENTER">Raty wszystkie w mig policzy,</p>
	    <p class="western" style="margin-bottom: 0cm;" align="CENTER">bo procenty w szkole ćwiczy.</p>
	    <p class="western" style="margin-bottom: 0cm;" align="CENTER">Gdy się skończy na dziś praca</p>
	    <p class="western" style="margin-bottom: 0cm;" align="CENTER">super matematyk wraca</p>
	    <p class="western" style="margin-bottom: 0cm;" align="CENTER">do rodzinnych swych pieleszy</p>
	    <p class="western" style="margin-bottom: 0cm;" align="CENTER">by małżonce z radą spieszyć.</p>
	    <p class="western" style="margin-bottom: 0cm;" align="CENTER">Ona piecze tort dla malca,</p>
	    <p class="western" style="margin-bottom: 0cm;" align="CENTER">on liczy objętość walca</p>
	    <p class="western" style="margin-bottom: 0cm;" align="CENTER">gdzie się ciasto dobrze zmieści.</p>
	    <p class="western" style="margin-bottom: 0cm;" align="CENTER">Na gotowym wzory kreśli</p>
	    <p class="western" style="margin-bottom: 0cm;" align="CENTER">aby synek znał twierdzenia</p>
	    <p class="western" style="margin-bottom: 0cm;" align="CENTER">tak Cauchiego jak Eulera.</p>
	    <p class="western" style="margin-bottom: 0cm;" align="CENTER">Cała świętuje rodzina,</p>
	    <p class="western" style="margin-bottom: 0cm;" align="CENTER">synek tort z Eulerem wcina,</p>
	    <p class="western" style="margin-bottom: 0cm;" align="CENTER">matematyk zaś w swych myślach</p>
	    <p class="western" style="margin-bottom: 0cm;" align="CENTER">twierdzeń nowych moc obmyśla</p>
	    <p class="western" style="margin-bottom: 0cm;" align="CENTER">i tak duma pod łysiną:</p>
	    <p class="western" style="margin-bottom: 0cm;" align="CENTER">Świat beze mnie byłby zginął!</p>
    </div>
    
{% endblock %}