{% extends "index.html" %}
{% block title %}Biochemia{% endblock %}
{% block content %}
    <div style="text-indent: 0px;">
	    <p class="text_title">Biochemia</p>
	    <p>&nbsp; </p>
		
		<p>osoby:</p>
        <p>&nbsp;</p>
        <p>TADEUSZ GRYCZ &ndash; student farmacji</p>
        <p>ADAM WOLSKI &ndash; jego przyjaciel</p>
        <p>KASIA WOLSKA &ndash; młodsza siostra Adama</p>
        <p>PAŃSTWO WOLSCY &ndash; rodzice Adama i Kasi</p>
        <p>BIZNESMEN</p>
        <p>GOŚCIE, WŁAŚCICIEL sali, POLICJANT i inni</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>AKT 1</p>
        <p>&nbsp;</p>
        <p>SCENA I</p>
        <p>&nbsp;</p>
        <p>dom WOLSKICH</p>
        <p>ADAM siedzi przy stoliku, KASIA obok na kanapce np. czyta książkę, wpada TADEUSZ</p>
        <p>&nbsp;</p>
        <p>TADEUSZ</p>
        <p>Jestem geniuszem!</p>
        <p><em>brak reakcji obecnych, zbliża się do ADAMA</em></p>
        <p>Jestem geniuszem. Cały dzień pracowałem dziś w laboratorium. O! Tym razem czeka mnie bogactwo i sława.</p>
        <p>&nbsp;</p>
        <p>ADAM</p>
        <p><em>flegmatycznie</em></p>
        <p>Patrz Kaśka. Znowu coś wymyślił. Co tym razem?</p>
        <p>&nbsp;</p>
        <p>TADEUSZ</p>
        <p>Zgaduj.</p>
        <p><em>przysiada się</em></p>
        <p>&nbsp;</p>
        <p>ADAM</p>
        <p>Hm. Coś przełomowego cywilizacyjnie. Może suplement na ludzką głupotę?</p>
        <p>&nbsp;</p>
        <p>TADEUSZ</p>
        <p>Nie doceniasz mnie przyjacielu. Owszem taki medykament zapewne niejednemu by się przydał, lecz m&oacute;j dużo lepiej się sprzeda.</p>
        <p>&nbsp;</p>
        <p>ADAM</p>
        <p>Z pewnością. No dobrze, co to?</p>
        <p>&nbsp;</p>
        <p>TADEUSZ</p>
        <p>Nie zgadujesz?</p>
        <p>&nbsp;</p>
        <p>ADAM</p>
        <p>Tadziu, moja wyobraźnia nigdy nie dostawała twojej pomysłowości.</p>
        <p>&nbsp;</p>
        <p>TADEUSZ</p>
        <p><em>rozczarowany</em></p>
        <p>Ostatnio bardzo łatwo się poddajesz. W og&oacute;le nie dajesz mi się cieszyć odkryciem.</p>
        <p>&nbsp;</p>
        <p>ADAM</p>
        <p>Dobrze już, dobrze. M&oacute;w, jesteśmy ciekawi.</p>
        <p>&nbsp;</p>
        <p>TADEUSZ</p>
        <p><em>powoli</em></p>
        <p>Eliksir miłosny.</p>
        <p>&nbsp;</p>
        <p>ADAM</p>
        <p><em>po chwili ze śmiechem</em></p>
        <p>Chyba nawąchałeś się dzisiaj za dużo etanolu w swoim laboratorium. Czyżbyś wierzył w bajki, Tadziu? Ty - wyedukowany student farmacji!</p>
        <p>&nbsp;</p>
        <p>TADEUSZ</p>
        <p>Śmiej się, Adasiu. Przez takich jak ty świat stoi w miejscu.</p>
        <p><em>wstaje, chodzi i gestykuluje</em></p>
        <p>Ja mam otwarty umysł, ścieram w pył konwenanse. Człowiek jest tylko kupą białka. Wystarczy podziałać na niego odpowiednim aminokwasem, a będzie tańczył i śpiewał lub płakał jak dziecko. Czy nie istnieją już leki na depresję? Na szaleństwo? Nawet na strach? Co szkodzi stworzyć związek zdolny rozbudzić prawdziwą namiętność? Ludzie oszaleją na punkcie mojego eliksiru. Jest to zaś rozcieńczony alkoholowy roztw&oacute;r sprytnie zmodyfikowanej endorfiny. Miłość w płynie. To dość zabawne, nieprawdaż?</p>
        <p>&nbsp;</p>
        <p>KASIA</p>
        <p><em>kt&oacute;ra od pewnego czasu przysłuchiwała się ich rozmowie</em></p>
        <p>Och, to straszne.</p>
        <p>&nbsp;</p>
        <p>TADEUSZ</p>
        <p><em>podchodzi do niej</em></p>
        <p>Co? Dlaczego straszne? To radość dla samotnej duszy, nadzieja dla wzgardzonego serca! Jeszcze nie wprowadziłem eliksiru na rynek, a już mi się zdaje, że szczęśliwe życie bez niego jest niemożliwe!</p>
        <p>&nbsp;</p>
        <p>ADAM</p>
        <p>Zaczekaj. Jak to działa? Ten tw&oacute;j eliksir. Wypr&oacute;bowałeś go na czym?</p>
        <p>&nbsp;</p>
        <p>TADEUSZ</p>
        <p><em>po chwili</em></p>
        <p>Kot ciotki łasił się do mnie jak nigdy.</p>
        <p>&nbsp;</p>
        <p>ADAM</p>
        <p>Nie bądź śmieszny. Przecież chcesz to sprzedać ludziom.</p>
        <p>&nbsp;</p>
        <p>TADEUSZ</p>
        <p>No c&oacute;ż, szukam ochotnika.</p>
        <p>&nbsp;</p>
        <p>ADAM</p>
        <p>A! Nie możesz znaleźć?</p>
        <p><em>pauza</em></p>
        <p>Nie patrz się na mnie.</p>
        <p>&nbsp;</p>
        <p>TADEUSZ</p>
        <p>Co ty tak... Tylko skończyłem, to przyszedłem ci pokazać, to wszystko.</p>
        <p>&nbsp;</p>
        <p>KASIA</p>
        <p>Pokaż!</p>
        <p>&nbsp;</p>
        <p>TADEUSZ</p>
        <p><em>wyjmuje fiolkę i podaje jej delikatnie</em></p>
        <p>Tylko ostrożnie, nie znam jeszcze ewentualnych skutk&oacute;w ubocznych. Eliksir jest wciąż w fazie badań.</p>
        <p>&nbsp;</p>
        <p>ADAM</p>
        <p>Owszem, uważaj siostro! Możesz zakochać się w naszym Tadziu.</p>
        <p>&nbsp;</p>
        <p>TADEUSZ</p>
        <p>Taki z ciebie przyjaciel - potrafisz tylko się naigrywać.</p>
        <p>&nbsp;</p>
        <p><em>W czasie tej dyskusji KASIA ogląda fiolkę, dyskretnie otwiera, wącha zawartość, zamyka, znowu ogląda. Zabiegi te pozostają niezauważone przez pan&oacute;w.</em></p>
        <p>&nbsp;</p>
        <p>ADAM</p>
        <p><em>podchodzi do TADEUSZA</em></p>
        <p>Pozw&oacute;l, że po przyjacielsku ostudzę twoją gorącą głowę. Skąd wiesz, że ten roztw&oacute;r w og&oacute;le posiada jakiekolwiek działanie? Może to żaden eliksir miłosny tylko nieco zmodyfikowana, droższa wersja napoju wyskokowego?</p>
        <p>&nbsp;</p>
        <p>TADEUSZ</p>
        <p><em>urażony</em></p>
        <p>Co masz na myśli? Z obliczeń wynika, że moja endorfina powinna silnie oddziaływać z receptorami opioidowymi &mu;. Wszystko dzięki grupie aminowej w położeniu periplanarnym...</p>
        <p>&nbsp;</p>
        <p>ADAM</p>
        <p><em>kiwa głową ze zrozumieniem</em></p>
        <p>Czuć w tym chemię.</p>
        <p>&nbsp;</p>
        <p>TADEUSZ</p>
        <p>Kpisz sobie ze mnie.</p>
        <p>&nbsp;</p>
        <p>ADAM</p>
        <p>Skąd! Przypomina mi się tylko tw&oacute;j afrodyzjak ze szczura...</p>
        <p>&nbsp;</p>
        <p>TADEUSZ</p>
        <p><em>po chwili</em></p>
        <p>Z gruczołu Cowpera.</p>
        <p>ADAM</p>
        <p>Albo tamten płyn na porost włos&oacute;w z jakiegoś zielska. Chociaż, przepraszam, na przeczyszczenie był całkiem skuteczny.</p>
        <p>&nbsp;</p>
        <p>TADEUSZ</p>
        <p><em>nachmurzony</em></p>
        <p>Udowodnię ci, że to najprawdziwszy eliksir miłosny, poczekaj no. Wypr&oacute;buję na mojej ciotce.</p>
        <p><em>odbiera eliksir KASI, wychodzi</em></p>
        <p>&nbsp;</p>
        <p>ADAM</p>
        <p><em>siada na kanapce, kręci głową, wesoło do siostry</em></p>
        <p>Ech, wariat, co?</p>
        <p>&nbsp;</p>
        <p>KASIA</p>
        <p>Adam...</p>
        <p><em>po dłuższej pauzie</em></p>
        <p>Kocham go.</p>
        <p>&nbsp;</p>
        <p>ADAM</p>
        <p><em>z niedowierzaniem</em></p>
        <p>Co? Żartujesz. Tego urwipołcia?</p>
        <p><em>śmieje się, ale zaraz urywa</em></p>
        <p>&nbsp;</p>
        <p><em>KASIA wstaje i spiesznie wybiega.</em></p>
        <p>&nbsp;</p>
        <p>ADAM</p>
        <p>Kasia!</p>
        <p><em>wychodzi za nią</em></p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>SCENA II</p>
        <p>&nbsp;</p>
        <p>mieszkanie ciotki</p>
        <p>TADEUSZ</p>
        <p>&nbsp;</p>
        <p>TADEUSZ</p>
        <p><em>krzycząc na lewo</em></p>
        <p>Och, czemu ciocia nie chce! To samolubne i w sytuacji cioci całkiem nierozsądne. W tym wieku odmawiać sobie ostatniej rozrywki, ostatniego przeżycia! Nie rozumiem tego. Ciocia pędzi taki jałowy żywot. Nawet gdyby eksperyment był nieoczekiwany w skutkach to... Ech.</p>
        <p>&nbsp;</p>
        <p><em>Z prawej wchodzi ADAM.</em></p>
        <p>&nbsp;</p>
        <p>ADAM</p>
        <p>Hej, koleżko! Chodź no tutaj.</p>
        <p>&nbsp;</p>
        <p>TADEUSZ</p>
        <p>Adam! Daj mi trochę więcej czasu. Badania naukowe to nie strzał z armaty. Jeśli mnie rozumiesz.</p>
        <p>&nbsp;</p>
        <p>ADAM</p>
        <p>Chodź tu bliżej.</p>
        <p>&nbsp;</p>
        <p>TADEUSZ</p>
        <p><em>podchodzi</em></p>
        <p>Coś masz kwaśną minę. Cha! Może poczułeś chętkę na m&oacute;j eliksir? Służę, przyjacielu! Daj no rękę.</p>
        <p><em>wyjmuje strzykawkę z igłą</em></p>
        <p>&nbsp;</p>
        <p>ADAM</p>
        <p><em>chwyta go i potrząsa</em></p>
        <p>Tyś mi zbałamucił siostrę, draniu!</p>
        <p>&nbsp;</p>
        <p>TADEUSZ</p>
        <p>A! Pomocy!</p>
        <p><em>wyrywa się wystraszony</em></p>
        <p>O czym ty m&oacute;wisz?</p>
        <p>&nbsp;</p>
        <p>ADAM</p>
        <p>No tak, nie wiesz! Ty lekkomyślny teoretyku... Ach, jak żal mi Kaśki! Zutylizuj to paskudztwo, natychmiast!</p>
        <p>&nbsp;</p>
        <p>TADEUSZ</p>
        <p>Co? Kasia zakochana? Jestem geniuszem! M&oacute;j eliksir działa!</p>
        <p>&nbsp;</p>
        <p>ADAM</p>
        <p>W jedną stronę! Zapomnij o bogactwach! Nikt go nie kupi.</p>
        <p>&nbsp;</p>
        <p>TADEUSZ</p>
        <p>To trzeba zbadać! Muszę wykonać serię eksperyment&oacute;w.</p>
        <p>&nbsp;</p>
        <p>ADAM</p>
        <p><em>zakasuje rękawy</em></p>
        <p>Tak? Tak? Wygarbuję ci sk&oacute;rę, szaleńcze!</p>
        <p>&nbsp;</p>
        <p><em>Z prawej wchodzi PANI WOLSKA.</em></p>
        <p>&nbsp;</p>
        <p>PANI WOLSKA</p>
        <p>Panie Grycz, witam pana! Przepraszam cię Adamie, mam sł&oacute;wko do twojego przyjaciela.</p>
        <p>&nbsp;</p>
        <p>ADAM</p>
        <p>A co mama tu robi?</p>
        <p>&nbsp;</p>
        <p>PANI WOLSKA</p>
        <p><em>kontynuuje</em></p>
        <p>Ach, proszę mi wybaczyć to najście, jestem wielbicielką pana! Pan ma taki wielki umysł, Tadeuszu! Eliksir miłosny! Ależ to wspaniałe!</p>
        <p><em>do syna</em></p>
        <p>Nigdy nie wątpiłam o intelekcie twego przyjaciela, Adamie. Ludzie zawsze chcieli kochać i być kochanymi, ale tak... tak prawdziwie!</p>
        <p><em>do TADEUSZA</em></p>
        <p>Pozwolisz, że będę ci m&oacute;wiła po imieniu, wszak niedługo będziesz dla nas zięciem.</p>
        <p><em>śmieje się porozumiewawczo</em></p>
        <p>Przychodzę do ciebie, Tadeuszu, w sprawie twego wynalazku. Coś nie tak? Ach, nie b&oacute;j się, nie jestem wścibską matką! Wasze szczęście, to jest twoje i Kasi, jest dla mnie ogromną radością! Nade wszystko pragnę szczęścia mojej c&oacute;rki, a widzę, że ty jesteś w tej materii czarodziejem, jesteś inżynierem ludzkich serc! Ach, Tadeuszu! Taka już jestem stara. Wyczerpałam dawno wszystkie skarby, jakie miało dla mnie życie. Sp&oacute;jrz na mnie, czy mogę być jeszcze atrakcyjna w tym stanie?</p>
        <p>&nbsp;</p>
        <p>ADAM</p>
        <p><em>ze zgrozą</em></p>
        <p>Mamo!</p>
        <p>&nbsp;</p>
        <p>PANI WOLSKA</p>
        <p>Ach tak, Tadeuszu! Tw&oacute;j eliksir miłosny wzbudził wielkie zainteresowanie. Kwiatkowska, sąsiadka, od razu chciała biec do sklepu, gdy jej o nim powiedziałam. Dwukrotna rozw&oacute;dka, a jaki zapał! Babka zaraz przyjechała z Michałową, szwaczką. Przyjechały i oglądają naszą Kasię z wszystkich stron, nie mogą się nadziwić. Babka nawet się modliła. Koniecznie chce pana zobaczyć, myśli, żeś święty!</p>
        <p>&nbsp;</p>
        <p>ADAM</p>
        <p>Mamo! Co to za brednie?</p>
        <p><em>chwyta ją i chce wyprowadzić</em></p>
        <p>&nbsp;</p>
        <p>PANI WOLSKA</p>
        <p>Tadeuszku! M&oacute;j złoty! Bądź tak dobry, kapnij nieco własnej teściowej...</p>
        <p>&nbsp;</p>
        <p>ADAM</p>
        <p>Co mama wyprawia! Co ojciec na to powie? Niech się mama lepiej zmityguje, żadnego eliksiru nie ma. To pomyłka, kolejne partactwo Tadka.</p>
        <p>&nbsp;</p>
        <p>PANI WOLSKA</p>
        <p>Adam! Nie m&oacute;w takich rzeczy. Przecież Kasia całkiem zakochana...</p>
        <p>&nbsp;</p>
        <p>ADAM</p>
        <p>Ano, Kasia.</p>
        <p>&nbsp;</p>
        <p><em>Oboje wbijają wzrok w TADEUSZA.</em></p>
        <p>&nbsp;</p>
        <p>TADEUSZ</p>
        <p>Muszę natychmiast widzieć się z Kasią. Mama pozwoli?</p>
        <p><em>wymija ją i wybiega</em></p>
        <p>&nbsp;</p>
        <p>PANI WOLSKA</p>
        <p><em>do siebie, z uśmiechem</em></p>
        <p>Mama!</p>
        <p><em>z rezygnacją</em></p>
        <p>A eliksir?</p>
        <p>&nbsp;</p>
        <p>ADAM</p>
        <p>Będę milczał, jeśli mama obieca nie wspominać więcej o tym... płynie.</p>
        <p>&nbsp;</p>
        <p><em>Matka daje się potulnie wyprowadzić.</em></p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>SCENA III</p>
        <p>&nbsp;</p>
        <p>dom WOLSKICH</p>
        <p>KASIA siedzi na kanapce, wchodzi TADEUSZ</p>
        <p>&nbsp;</p>
        <p>TADEUSZ</p>
        <p><em>zbliża się niepewnie</em></p>
        <p>Kasiu... Witaj. Muszę z tobą porozmawiać.</p>
        <p>&nbsp;</p>
        <p>KASIA</p>
        <p>Pewnie mama cię przysłała.</p>
        <p><em>zawstydzona odwraca się do niego plecami</em></p>
        <p>&nbsp;</p>
        <p>TADEUSZ</p>
        <p>Gdzie tam! Przyleciałem tu jak wariat, gdy się dowiedziałem... Niepewność zniszczyłaby mi sen. Muszę wszystko wiedzieć! Kasiu, proszę, powiedz mi co czujesz.</p>
        <p><em>przyklęka obok niej, wyjmuje notes i oł&oacute;wek</em></p>
        <p>&nbsp;</p>
        <p>KASIA</p>
        <p><em>po dłuższej chwili nieśmiało</em></p>
        <p>Tak mi słodko, ale ciężko...</p>
        <p><em>przyciska piąstki do piersi i wzdycha</em></p>
        <p>&nbsp;</p>
        <p>TADEUSZ</p>
        <p>Coś cię boli? M&oacute;w dokładniej. Sama rozumiesz, jako badacz muszę znać każdy szczeg&oacute;ł.</p>
        <p><em>KASIA odwraca się do niego, zauważa notes. Pauza. Wpatrują się w siebie.</em></p>
        <p>Chyba nie piłaś tego eliksiru?</p>
        <p>&nbsp;</p>
        <p>KASIA</p>
        <p>O czym m&oacute;wisz?</p>
        <p>&nbsp;</p>
        <p>TADEUSZ</p>
        <p>Ach! Eliksir z założenia jest do zastosowania dożylnego. To niesamowite, że zadziałał przez aplikację zewnętrzną. Całkowita sprzeczność z teorią. To by było odkrycie!</p>
        <p>&nbsp;</p>
        <p>KASIA</p>
        <p>Nie piłam.</p>
        <p>&nbsp;</p>
        <p>TADEUSZ</p>
        <p>Nie? A więc jak?...</p>
        <p>KASIA</p>
        <p>Ot... Niuchnęłam.</p>
        <p>&nbsp;</p>
        <p>TADEUSZ</p>
        <p>Niuch... Powąchałaś? Tylko tyle?</p>
        <p><em>zrywa się, chodzi w k&oacute;łko</em></p>
        <p>Niewiarygodne! Wręcz niemożliwe! Inhalacja endorfiną! Nikt mi nie uwierzy.</p>
        <p><em>zn&oacute;w klęka, bierze ją za rękę</em></p>
        <p>Kasiu, jesteś pewna, że to prawdziwa miłość? Czasem trudno stwierdzić. Zastan&oacute;w się proszę... Co ci jest?</p>
        <p>&nbsp;</p>
        <p><em>KASIA osuwa się wgłąb kanapy.</em></p>
        <p>&nbsp;</p>
        <p><em>Wchodzi PAN WOLSKI i BIZNESMEN.</em></p>
        <p>&nbsp;</p>
        <p>PAN WOLSKI</p>
        <p>Tędy. Proszę tędy... Dzień dobry, panie Grycz! Ach! Wybaczcie mi! To zajmie jedną chwilkę. Tadeuszu, pozwolisz...</p>
        <p><em>prowadzi go do BIZNESMENA</em></p>
        <p>To jest pan Sikorski, biznesmen...</p>
        <p>&nbsp;</p>
        <p>BIZNESMEN</p>
        <p>Witam pana.</p>
        <p><em>ściska jego dłoń</em></p>
        <p>&nbsp;</p>
        <p>TADEUSZ</p>
        <p><em>przez cały czas nieco zdezorientowany</em></p>
        <p>Witam... Miło mi.</p>
        <p>&nbsp;</p>
        <p>PAN WOLSKI</p>
        <p>Tadeuszu! Pan Sikorski zajmuje się wspieraniem utalentowanych wynalazc&oacute;w, potrafi rozkręcić każdy interes. Jeśli tylko się zgodzisz, spienięży tw&oacute;j wynalazek. Rozumiesz mnie? Mam na myśli tw&oacute;j eliksir. Pan Sikorski słyszał ode mnie już co nieco... Masz ogromną szansę, ogromne szczęście, to m&oacute;j dobry znajomy. No co?</p>
        <p>&nbsp;</p>
        <p>BIZNESMEN</p>
        <p>Panie Grycz, usiądźmy.</p>
        <p><em>Siadają przy małym stoliku, PAN WOLSKI stoi z braku krzesła.</em></p>
        <p>Słyszałem, że wynalazł pan prawdziwy eliksir miłosny.</p>
        <p>&nbsp;</p>
        <p>PAN WOLSKI</p>
        <p>Przecież panu m&oacute;wiłem. To geniusz!</p>
        <p>&nbsp;</p>
        <p>BIZNESMEN</p>
        <p>Podobno stwierdził pan już jego skuteczność, jeśli chodzi o działanie na ludzi.</p>
        <p>&nbsp;</p>
        <p>PAN WOLSKI</p>
        <p>O, tam siedzi moja c&oacute;rka, Kasia.</p>
        <p>&nbsp;</p>
        <p>BIZNESMEN</p>
        <p><em>ogląda się z irytacją na PANA WOLSKIEGO, do TADEUSZA</em></p>
        <p>Może pana czekać wspaniała kariera. Jestem got&oacute;w wyłożyć potrzebne fundusze, pan zaś opracuje technologię. Ma pan może pr&oacute;bkę eliksiru przy sobie? Chciałbym go zobaczyć.</p>
        <p>&nbsp;</p>
        <p>TADEUSZ</p>
        <p>Ach, tak...</p>
        <p><em>wyjmuje strzykawkę z płynem</em></p>
        <p>&nbsp;</p>
        <p>BIZNESMEN</p>
        <p>Preparat dożylny?</p>
        <p><em>zwraca się do PANA WOLSKIEGO</em></p>
        <p>&nbsp;</p>
        <p>PAN WOLSKI</p>
        <p>Ach! Czy to problem? Niekt&oacute;re lekarstwa...</p>
        <p>&nbsp;</p>
        <p>BIZNESMEN</p>
        <p><em>do TADEUSZA</em></p>
        <p>Panie Grycz, sam pan rozumie, że w takiej formie nie możemy sprzedawać eliksiru miłości. Może umiałby pan coś z tym zrobić?</p>
        <p>&nbsp;</p>
        <p>TADEUSZ</p>
        <p><em>zapala się</em></p>
        <p>Bardzo możliwe. Jestem na drodze do wielkiego odkrycia! Inhalacja endorfiną. To zburzy teorię dyfuzji przez tkanki. To podważy odwieczne prawa biochemii!</p>
        <p>&nbsp;</p>
        <p>BIZNESMEN</p>
        <p>Aerozol! Wspaniale. Czy preparatyka jest skomplikowana?</p>
        <p>&nbsp;</p>
        <p>TADEUSZ</p>
        <p>Ależ... muszę przeprowadzić badania! Pan rozumie... Środowisko naukowe powinno się z tym zapoznać...</p>
        <p>&nbsp;</p>
        <p>PAN WOLSKI</p>
        <p>Ach, nie!</p>
        <p>&nbsp;</p>
        <p>BIZNESMEN</p>
        <p>Jakich dowod&oacute;w panu trzeba?</p>
        <p><em>z uśmieszkiem, wskazując głową KASIĘ</em></p>
        <p>Czy ta panienka nie jest żywym okazem pana sukcesu?</p>
        <p>&nbsp;</p>
        <p>PAN WOLSKI</p>
        <p><em>podbiega do c&oacute;rki</em></p>
        <p>Kasieńka, rozważ... Tu o wasze szczęście chodzi. Powiedz panu.</p>
        <p>&nbsp;</p>
        <p>KASIA</p>
        <p><em>kt&oacute;ra w trakcie rozmowy była coraz bardziej wzburzona, do wszystkich, hamując łzy</em></p>
        <p>Czego tata chce?</p>
        <p><em>pauza</em></p>
        <p>Proszę! Kocham go. Tego... bezdusznego błazna!</p>
        <p>&nbsp;</p>
        <p>PAN WOLSKI</p>
        <p><em>wystraszony</em></p>
        <p>Kasia! ...Skąd ten wybuch?</p>
        <p>&nbsp;</p>
        <p>BIZNESMEN</p>
        <p><em>wyjmuje papier, wesoło</em></p>
        <p>Ho, ho! Działanie nader silne. Prawdziwy obłęd! No, proszę tu podpisać...</p>
        <p>&nbsp;</p>
        <p>KASIA</p>
        <p><em>zrywa się</em></p>
        <p>Nie zgadzam się!</p>
        <p>&nbsp;</p>
        <p><em>TADEUSZ w tym momencie podrywa się z krzesła.</em></p>
        <p>&nbsp;</p>
        <p>PAN WOLSKI</p>
        <p><em>wystraszony</em></p>
        <p>Kasieńka!</p>
        <p>&nbsp;</p>
        <p>KASIA</p>
        <p>On... nieprawda! Jaki tata ślepy!</p>
        <p>&nbsp;</p>
        <p>TADEUSZ</p>
        <p><em>podbiega do niej, chwyta za ręce</em></p>
        <p>Kasia, co m&oacute;wisz? Będziemy szczęśliwi! Kasiu, sp&oacute;jrz na mnie.</p>
        <p>&nbsp;</p>
        <p>KASIA</p>
        <p><em>zamiera wpatrzona w TADEUSZA po czym opada na sofę, TADEUSZ siada obok, całuje jej dłoń</em></p>
        <p>Co to jest? Boże kochany!</p>
        <p>&nbsp;</p>
        <p>PAN WOLSKI</p>
        <p>Cha! Będzie wesele! Będzie interes! Cha!</p>
        <p>&nbsp;</p>
        <p><em>BIZNESMEN wyjmuje cygaro, zapala.</em></p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>SCENA IV</p>
        <p>&nbsp;</p>
        <p>mieszkanie ciotki</p>
        <p>TADEUSZ przy biurku, pisze, wchodzi ADAM</p>
        <p>&nbsp;</p>
        <p>ADAM</p>
        <p>Cześć, przychodzę od siostry.</p>
        <p><em>pauza</em></p>
        <p>Co robisz?</p>
        <p>&nbsp;</p>
        <p>TADEUSZ</p>
        <p><em>nie odrywając się od pracy</em></p>
        <p>Piszę artykuł naukowy. Do podrzędnego szmatławca! &bdquo;Science&rdquo; mnie odrzucił. Konserwatywny brukowiec. Na niczym się nie znają, wyśmiali mnie. Wyobrażasz sobie? Ale ja jeszcze wyjdę na swoje. Niech no poczekają, aż m&oacute;j eliksir trafi na rynek. Już ja im pokażę, ja im pokażę... Zapomnieli, że zadzierają z geniuszem!</p>
        <p>&nbsp;</p>
        <p>ADAM</p>
        <p>Ach, tak. Słuchaj, nie oświadczyłeś się jeszcze?</p>
        <p><em>pauza</em></p>
        <p>Podobno porozumieliście się z Kasią i ty też ją kochasz... na skutek działania tego eliksiru. No ale zawsze. Wiesz, jak to kobieta, niepokoi się trochę. Zupełnie niepotrzebnie, jak myślę...</p>
        <p>&nbsp;</p>
        <p>TADEUSZ</p>
        <p>Wspaniale!</p>
        <p><em>po chwili wstaje z plikiem kartek w rękach</em></p>
        <p>M&oacute;j drogi, pamiętam o wszystkim, ale mam teraz pełne ręce roboty. Ach, jak ten czas leci, zaraz spotkanie z Sikorskim!</p>
        <p><em>chodzi po pokoju</em></p>
        <p>A ja nie mogę nigdzie znaleźć mojej fiolki. Musiałem zgubić ją u was.</p>
        <p><em>chce wyjść</em></p>
        <p>&nbsp;</p>
        <p><em>Z prawej wchodzi PANI WOLSKA.</em></p>
        <p>&nbsp;</p>
        <p>PANI WOLSKA</p>
        <p>Witaj Tadeuszu. O, Adamie i ty tu jesteś, wspaniale! Siadajcie.</p>
        <p><em>pociąga ich z sobą na kanapę</em></p>
        <p>&nbsp;</p>
        <p>TADEUSZ</p>
        <p>Proszę mi wybaczyć, ale...</p>
        <p>&nbsp;</p>
        <p>PANI WOLSKA</p>
        <p>Tadeuszu, zajmę ci jedną chwilkę. Myślałam o waszym weselu. Przecież to już zaraz, a nic nie jest przygotowane! Na szczęście masz roztropną teściową. Wszystkim się zajmę. Mam taką wizję, słuchaj! Czy nie zaczynasz już zaraz sprzedaży eliksiru miłości? Pomyśl tylko, jakie to będzie przedsiębiorcze posunięcie: wieczorem ślub, a zaraz potem otwarcie sklep&oacute;w! Ty i Kasia szczęśliwie połączeni czarodziejską miłością firmy Grycz sp&oacute;łka komandytowa!</p>
        <p><em>wzdycha</em></p>
        <p>Jakie to romantyczne. Jeśli chodzi o kwiaty, to muszą być r&oacute;że...</p>
        <p>&nbsp;</p>
        <p><em>BIZNESMEN, kt&oacute;ry zjawił się po prawej w środku kwestii PANI WOLSKIEJ podchodzi, stając się widocznym.</em></p>
        <p>&nbsp;</p>
        <p>BIZNESMEN</p>
        <p>Witam, panie Grycz. Ma pan gości?</p>
        <p>&nbsp;</p>
        <p>TADEUSZ</p>
        <p><em>podrywa się</em></p>
        <p>Ależ nie! Przepraszam. Proszę tutaj...</p>
        <p><em>przechodzą na lewo</em></p>
        <p>&nbsp;</p>
        <p>ADAM</p>
        <p><em>cicho</em></p>
        <p>Mama znowu coś kombinuje. Przecież Tadek...</p>
        <p>&nbsp;</p>
        <p>PANI WOLSKA</p>
        <p>Synu m&oacute;j, jesteś jeszcze bardzo młody i naiwny.</p>
        <p><em>wyciąga lusterko, poprawia włosy</em></p>
        <p>&nbsp;</p>
        <p>ADAM</p>
        <p><em>zamyśla się, po chwili</em></p>
        <p>Ale co na to Kasia? Czy ona wie o planach mamy?</p>
        <p>&nbsp;</p>
        <p>PANI WOLSKA</p>
        <p>Adam! Co za pytanie...</p>
        <p>&nbsp;</p>
        <p>ADAM</p>
        <p><em>skonfundowany, po chwili</em></p>
        <p>To znaczy: zgadza się? Nie wierzę! Przecież nawet jej się nie oświadczył!</p>
        <p>&nbsp;</p>
        <p>PANI WOLSKA</p>
        <p><em>ogląda się</em></p>
        <p>To jest ten pan Sikorski, biznesmen?</p>
        <p>&nbsp;</p>
        <p>ADAM</p>
        <p>Co mama...</p>
        <p>&nbsp;</p>
        <p>PANI WOLSKA</p>
        <p><em>szybko chowa lusterko</em></p>
        <p>Och, przecież się kochają! Tadeusz to świetna partia. On będzie milionerem, jestem tego pewna. W dodatku geniusz! Trochę roztargniony, jak każdy naukowiec, to prawda. Dlatego dobrze jest delikatnie nakierować go na właściwą drogę.</p>
        <p><em>pewnie</em></p>
        <p>Oświadczyny to kwestia czasu.</p>
        <p>&nbsp;</p>
        <p><em>TADEUSZ nadbiega z lewej.</em></p>
        <p>&nbsp;</p>
        <p>TADEUSZ</p>
        <p>Pędzę do Kasi! Ślub pojutrze!</p>
        <p><em>znika po prawej</em></p>
        <p>&nbsp;</p>
        <p><em>ADAM zrywa się z kanapy.</em></p>
        <p>&nbsp;</p>
        <p>PANI WOLSKA</p>
        <p><em>śmiejąc się</em></p>
        <p>Młodzież! Jaka ona przewidywalna.</p>
        <p>&nbsp;</p>
        <p><em>ADAM niezdecydowany patrzy to za nim to na matkę, w końcu biegnie za TADEUSZEM.</em></p>
        <p><em>PANI WOLSKA wyjmuje flakonik i ukradkiem polewa nim oba nadgarstki, z lewej nadchodzi BIZNESMEN.</em></p>
        <p>&nbsp;</p>
        <p>PANI WOLSKA</p>
        <p><em>wstaje i podchodzi doń</em></p>
        <p>Witam pana! Pan Sikorski? To pan jest tym znakomitym biznesmenem, kt&oacute;remu Tadeusz zawdzięcza sukces!</p>
        <p>&nbsp;</p>
        <p>BIZNESMEN</p>
        <p><em>obojętnie</em></p>
        <p>Witam. Pani jest jego matką?</p>
        <p>&nbsp;</p>
        <p>PANI WOLSKA</p>
        <p>Ach, nie. To m&oacute;j dobry znajomy...</p>
        <p><em>widząc, że BIZNESMEN chce wyjść</em></p>
        <p>Proszę o jedną minutkę! Chciałam tylko poradzić się pana w jednej, małej sprawie. Tyle o panu słyszałam! Pan jest tak doświadczony, jeśli chodzi o marketing. Ot&oacute;ż, prowadzę drogerię. Mam tu dwie perfumy, obie pachną ładnie, ale kt&oacute;ra lepiej się sprzeda? Zupełnie nie mogę się zdecydować, kt&oacute;rą zam&oacute;wić. Błagam, musi mi pan pom&oacute;c!</p>
        <p><em>podaje mu nadgarstki</em></p>
        <p>&nbsp;</p>
        <p>BIZNESMEN</p>
        <p><em>niechętnie przyciąga jedną z rąk do nosa, ale zaraz się odsuwa</em></p>
        <p>To perfuma? Śmierdzi spirytusem.</p>
        <p>&nbsp;</p>
        <p>PANI WOLSKA</p>
        <p>Może druga?</p>
        <p>&nbsp;</p>
        <p>BIZNESMEN</p>
        <p><em>wącha drugą rękę</em></p>
        <p>Czy pani drogeria aby nie upada?</p>
        <p>&nbsp;</p>
        <p>PANI WOLSKA</p>
        <p>Upada? Ależ skąd, ma się świetnie. ...A pan?</p>
        <p><em>poprawia fryzurę</em></p>
        <p>&nbsp;</p>
        <p>BIZNESMEN</p>
        <p>Ja?</p>
        <p>&nbsp;</p>
        <p>PANI WOLSKA</p>
        <p><em>wdzięcząc się i śmiejąc</em></p>
        <p>Nie ma pan ochoty na kawę? Strasznie nie lubię samotnie spędzać wieczor&oacute;w.</p>
        <p>&nbsp;</p>
        <p>BIZNESMEN</p>
        <p><em>filuternie</em></p>
        <p>Widzę, że nie chce mi pani być dłużną za moją radę.</p>
        <p>&nbsp;</p>
        <p><em>BIZNESMEN podaje ramię PANI WOLSKIEJ, wychodzą.</em></p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>SCENA V</p>
        <p>&nbsp;</p>
        <p>dom WOLSKICH</p>
        <p>wbiega ADAM, po chwili nadchodzi PAN WOLSKI</p>
        <p>&nbsp;</p>
        <p>ADAM</p>
        <p><em>woła</em></p>
        <p>Kaśka!</p>
        <p>&nbsp;</p>
        <p>PAN WOLSKI</p>
        <p>Adam, nie widziałeś mamy?</p>
        <p>&nbsp;</p>
        <p>ADAM</p>
        <p>Nie teraz, tato. Muszę powstrzymać Kasię przed pochopną decyzją.</p>
        <p>&nbsp;</p>
        <p>PAN WOLSKI</p>
        <p><em>zagradzając mu drogę</em></p>
        <p>Chyba nie masz na myśli jej rychłego zamążp&oacute;jścia.</p>
        <p>&nbsp;</p>
        <p>ADAM</p>
        <p>To właśnie mam na myśli.</p>
        <p>&nbsp;</p>
        <p>PAN WOLSKI</p>
        <p><em>prostując się</em></p>
        <p>Tadeusz to świetny chłopak. Ja stoję za nim!</p>
        <p>&nbsp;</p>
        <p>ADAM</p>
        <p><em>pr&oacute;bując go wyminąć</em></p>
        <p>Och, puść mnie! Chcę tylko porozmawiać.</p>
        <p>&nbsp;</p>
        <p><em>Szamocą się pod drzwiami, PAN WOLSKI odpycha syna, zagląda przez dziurkę.</em></p>
        <p>&nbsp;</p>
        <p>PAN WOLSKI</p>
        <p><em>wesoło</em></p>
        <p>Cha! Już po ptakach!</p>
        <p>&nbsp;</p>
        <p>ADAM</p>
        <p><em>odsuwa go, też zagląda</em></p>
        <p>Ach, nie!</p>
        <p>&nbsp;</p>
        <p>PAN WOLSKI</p>
        <p>Nie rozpaczaj. Kasia jest dorosłą kobietą, sama najlepiej decyduje o sobie.</p>
        <p><em>pauza</em></p>
        <p>Co robią?</p>
        <p>&nbsp;</p>
        <p>ADAM</p>
        <p>Nic.</p>
        <p><em>prostuje się niezadowolony</em></p>
        <p>&nbsp;</p>
        <p>PAN WOLSKI</p>
        <p>Jak to nic? Nic a nic?</p>
        <p><em>rechocze, zn&oacute;w zagląda</em></p>
        <p>Hm. Ano siedzą sobie. Długo to potrwa? Chciałbym ich uścisnąć!</p>
        <p>&nbsp;</p>
        <p><em>Nagle drzwi otwierają się, KASIA i TADEUSZ wychodzą.</em></p>
        <p>&nbsp;</p>
        <p>KASIA</p>
        <p>Och! Co robicie tu, pod drzwiami?</p>
        <p>&nbsp;</p>
        <p>PAN WOLSKI</p>
        <p>Tak się cieszę, kochani!</p>
        <p><em>chwyta ich w kleszcze</em></p>
        <p>&nbsp;</p>
        <p>TADEUSZ</p>
        <p><em>zauważając ADAMA</em></p>
        <p>Przyjacielu! Nie bądź taki smętny. Wszystko układa się jak najlepiej.</p>
        <p>&nbsp;</p>
        <p>ADAM</p>
        <p>Wątpię.</p>
        <p><em>do siostry</em></p>
        <p>Kasiu, czy ty to wszystko przemyślałaś? Nie chcę żebyś potem żałowała swojej decyzji. Przecież bez tego eliksiru nie byłoby żadnego ślubu! To takie sztuczne...</p>
        <p>&nbsp;</p>
        <p>KASIA</p>
        <p>Adam, nie m&oacute;w tak. Jestem szczęśliwa.</p>
        <p>&nbsp;</p>
        <p>TADEUSZ</p>
        <p>I po co to rezonowanie, Adasiu. Znajdź sobie żonę. Chcesz, kapnę ci po znajomości mojego magicznego płynu.</p>
        <p><em>ADAM milczy; do wszystkich</em></p>
        <p>No! Czas poczynić pewne przygotowania, jeśli mamy się pobrać pojutrze. Kasiu...</p>
        <p><em>podaje jej ramię, wychodzą</em></p>
        <p>&nbsp;</p>
        <p><em>ADAM i PAN WOLSKI stoją przez chwilę w milczeniu, nadchodzi PANI WOLSKA. ADAM wychodzi.</em></p>
        <p>&nbsp;</p>
        <p>PAN WOLSKI</p>
        <p><em>do żony</em></p>
        <p>Ach, jesteś! Młodzi się zaręczyli.</p>
        <p>&nbsp;</p>
        <p>PANI WOLSKA</p>
        <p>Tak? To cudownie! Muszą być bardzo szczęśliwi!</p>
        <p>&nbsp;</p>
        <p>PAN WOLSKI</p>
        <p>Szukałem cię cały wiecz&oacute;r. Gdzie byłaś?</p>
        <p>&nbsp;</p>
        <p>PANI WOLSKA</p>
        <p><em>zajmuje się toaletą, wesoło</em></p>
        <p>Gdzie byłam? W kawiarni, na mieście. Starzy znajomi, porozmawiało się o tym i tamtym...</p>
        <p>&nbsp;</p>
        <p>PAN WOLSKI</p>
        <p>To czerwona szminka?!</p>
        <p>&nbsp;</p>
        <p>PANI WOLSKA</p>
        <p>Moja ulubiona.</p>
        <p>&nbsp;</p>
        <p>PAN WOLSKI</p>
        <p>Nie, nie! Nigdy tak nie chodziłaś po ulicy.</p>
        <p>&nbsp;</p>
        <p>PANI WOLSKA</p>
        <p>M&oacute;j drogi, w wieku czterdziestu lat ja nadal jestem kobietą. Ty zaś jesteś starym mantyką.</p>
        <p>&nbsp;</p>
        <p>PAN WOLSKI</p>
        <p>Czterdziestu? Troszkę sobie ujęłaś.</p>
        <p>&nbsp;</p>
        <p>PANI WOLSKA</p>
        <p>Jak można być takim bałwanem.</p>
        <p>&nbsp;</p>
        <p>PAN WOLSKI</p>
        <p><em>uśmiechając się z przymusem</em></p>
        <p>A! Żona ma humory. Co zrobiłem?</p>
        <p>&nbsp;</p>
        <p>PANI WOLSKA</p>
        <p>Nic zupełnie. Ach! Czuję się taka młoda.</p>
        <p><em>śmieje się, wychodzi</em></p>
        <p>&nbsp;</p>
        <p>PAN WOLSKI</p>
        <p><em>sam</em></p>
        <p>Znowu coś. Co za życie! Człowiek się żenił z kwiatem, z bułeczką, a teraz dogorywa z kapryśną...</p>
        <p><em>nie kończy</em></p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>AKT 2</p>
        <p>&nbsp;</p>
        <p>SCENA I</p>
        <p>&nbsp;</p>
        <p>Rozbrzmiewa marsz weselny, p&oacute;źniej w tle. Pusta scena. Z prawej strony wyłaniają się goście weselni, gapie, telewizja.</p>
        <p>&nbsp;</p>
        <p>PANI 1</p>
        <p>Kiedy przywiozą eliksir miłości? Mam jednego na oku &ndash; muszę go w sobie rozkochać.</p>
        <p>&nbsp;</p>
        <p>PANI 2</p>
        <p>Będę w telewizji. Pani widzi co to za show.</p>
        <p>&nbsp;</p>
        <p><em>Z prawej wyłania się PAN WOLSKI, rozgląda się nerwowo. Za nim nadchodzi ADAM.</em></p>
        <p>&nbsp;</p>
        <p>PAN WOLSKI</p>
        <p>Synu, nie widziałeś mamy?</p>
        <p>&nbsp;</p>
        <p>ADAM</p>
        <p>Nie. Coś się stało?</p>
        <p>&nbsp;</p>
        <p>PAN WOLSKI</p>
        <p>Ach, nie... zniknęła mi gdzieś przed chwilką.</p>
        <p>&nbsp;</p>
        <p><em>Nagle tłum porusza się, ludzie coś krzyczą (przywieziono eliksir), wybiegają na lewo, scena pustoszeje. </em></p>
        <p>&nbsp;</p>
        <p><em>Wchodzi PANI WOLSKA i BIZNESMEN.</em></p>
        <p>&nbsp;</p>
        <p>PANI WOLSKA</p>
        <p><em>śmiejąc się</em></p>
        <p>Ach, nie tutaj!</p>
        <p>&nbsp;</p>
        <p><em>BIZNESMEN całuje ją i łapie za tyłek.</em></p>
        <p>&nbsp;</p>
        <p>PAN WOLSKI</p>
        <p>A!</p>
        <p><em>celuje palcem w kochank&oacute;w</em></p>
        <p>&nbsp;</p>
        <p><em>BIZNESMEN odwraca się. PANI WOLSKA zamiera.</em></p>
        <p>&nbsp;</p>
        <p>PAN WOLSKI</p>
        <p>Więc to tak. Jestem zdradzany.</p>
        <p><em>stoi jak wbity w ziemię</em></p>
        <p>&nbsp;</p>
        <p>ADAM</p>
        <p><em>po dłuższej chwili</em></p>
        <p>Tato, zr&oacute;b coś!</p>
        <p>&nbsp;</p>
        <p>PAN WOLSKI</p>
        <p><em>niepewnie</em></p>
        <p>To m&oacute;j dobry znajomy.</p>
        <p>&nbsp;</p>
        <p>BIZNESMEN</p>
        <p><em>do PANA WOLSKIEGO</em></p>
        <p>Pan zna tę panią?</p>
        <p>&nbsp;</p>
        <p>PAN WOLSKI</p>
        <p><em>oburzony</em></p>
        <p>To moja żona!</p>
        <p>&nbsp;</p>
        <p>BIZNESMEN</p>
        <p><em>śmiejąc się rubasznie</em></p>
        <p>No, no! Nie m&oacute;wiłaś, że jesteś zamężna.</p>
        <p>&nbsp;</p>
        <p>ADAM</p>
        <p>Mamo, jak możesz.</p>
        <p>&nbsp;</p>
        <p>BIZNESMEN</p>
        <p>I dzieciata.</p>
        <p>&nbsp;</p>
        <p>PANI WOLSKA</p>
        <p>Och, potraficie mnie tylko oskarżać! Za grosz zrozumienia. C&oacute;ż ja poradzę na to, że miłość spadła na nas jak grom!</p>
        <p>&nbsp;</p>
        <p>ADAM</p>
        <p><em>ironicznie</em></p>
        <p>Czy to czyni mamę bezkarną?</p>
        <p>&nbsp;</p>
        <p>PANI WOLSKA</p>
        <p><em>po chwili, odzyskując kontenans</em></p>
        <p>Gdzie wszyscy poszli? Przywieźli towar! Sprzedają eliksir!</p>
        <p>&nbsp;</p>
        <p>BIZNESMEN</p>
        <p><em>wesoło</em></p>
        <p>C&oacute;ż, państwo mi wybaczą. Sprawy biznesowe. Proszę złożyć nowożeńcom najlepsze życzenia.</p>
        <p><em>wymyka się</em></p>
        <p>&nbsp;</p>
        <p>PANI WOLSKA</p>
        <p><em>zdumiona</em></p>
        <p>Odchodzisz?</p>
        <p>&nbsp;</p>
        <p>BIZNESMEN</p>
        <p>Zadzwonię.</p>
        <p><em>wychodzi</em></p>
        <p>&nbsp;</p>
        <p>PAN WOLSKI</p>
        <p>Zdrajca. M&oacute;j dobry znajomy! Przez chwilę nie patrzysz, a już ci łowi żonkę na jakieś romantyczne brednie. Nasza c&oacute;rka dziś wychodzi za mąż, a ty dajesz taki przykład! Nasz syn to oglądał!</p>
        <p>&nbsp;</p>
        <p>PANI WOLSKA</p>
        <p><em>do siebie</em></p>
        <p>Kochał mnie. Kocha. Przecież musi!</p>
        <p>&nbsp;</p>
        <p>PAN WOLSKI</p>
        <p>Ech, kobieto! Kocha, nie kocha &ndash; co za r&oacute;żnica? Kto ożenił się z tobą?</p>
        <p>&nbsp;</p>
        <p><em>Z prawej nadchodzą KASIA i TADEUSZ odświętnie ubrani, mogą być w towarzystwie kilku gości.</em></p>
        <p>&nbsp;</p>
        <p>KASIA</p>
        <p>Mamo! Tato!</p>
        <p><em>ściska ich kolejno, wesoło</em></p>
        <p>Już jestem panią Grycz. Wszystko podpisane.</p>
        <p>&nbsp;</p>
        <p><em>PAŃSTWO WOLSCY milczą skonsternowani.</em></p>
        <p>&nbsp;</p>
        <p>KASIA</p>
        <p>Co się stało? Tacy jesteście smutni...</p>
        <p>&nbsp;</p>
        <p>PAN WOLSKI</p>
        <p>Ach, nic, kochanie. Cieszymy się z tobą.</p>
        <p><em>całuje ją</em></p>
        <p>&nbsp;</p>
        <p>ADAM</p>
        <p><em>do TADEUSZA</em></p>
        <p>Jesteście wr&oacute;belki. Wszystkiego dobrego. Szczęśliwego pożycia. Wspaniały wynalazek, Tadziu! Życzę ci, aby zebrał jak największe żniwo. Ten tw&oacute;j eliksir to był najgłupszy pomysł, na jaki wpadłeś. Całkiem nieodpowiedzialny.</p>
        <p><em>odwraca się na pięcie, wychodzi</em></p>
        <p>&nbsp;</p>
        <p>KASIA</p>
        <p>Adam!</p>
        <p><em>do obecnych</em></p>
        <p>O co mu chodzi?</p>
        <p>&nbsp;</p>
        <p>TADEUSZ</p>
        <p>A o c&oacute;ż może chodzić &ndash; zazdrości mi sukcesu. Zawsze patrzył łapczywie na moje badania, ale tylko kpić potrafił. To nic, odchoruje i wr&oacute;ci. Chodźmy, wszyscy goście czekają.</p>
        <p>&nbsp;</p>
        <p><em>Wszyscy wychodzą.</em></p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>SCENA II</p>
        <p>&nbsp;</p>
        <p>Wesele, tłum gości. Obecni wszyscy bohaterowie.</p>
        <p>&nbsp;</p>
        <p>GŁOS Z GŁĘBI</p>
        <p>A teraz pierwszy taniec państwa młodych!</p>
        <p>&nbsp;</p>
        <p><em>TADEUSZ i KASIA wychodzą na prz&oacute;d, muzyka, tańczą. Po pewnym czasie dołączają do nich inni goście.</em></p>
        <p>&nbsp;</p>
        <p>TADEUSZ</p>
        <p><em>do żony</em></p>
        <p>Patrz, Kasiu. Ludzie już kupują m&oacute;j eliksir. Wiedziałem, że to arcygenialny pomysł. Cha! Kto by pomyślał, że będę odkrywcą i milionerem no i wyjdę za siostrę Adama!</p>
        <p><em>po chwili</em></p>
        <p>Opowiem ci jak to działa, to bardzo ciekawe. Endorfina oddziałuje na receptory opioidowe &mu; białka występującego w twoim organizmie. Wywołuje to uczucie szczęścia zupełnie podobne do euforii związanej z zakochaniem. Dość proste rozwiązanie, ale wymagające zastanowienia. Kluczowa jest grupa aminowa w położeniu periplanarnym. Ja sam na to wpadłem.</p>
        <p>&nbsp;</p>
        <p><em>KASIA przez cały czas patrzy na niego i się uśmiecha.</em></p>
        <p>&nbsp;</p>
        <p>TADEUSZ</p>
        <p>To wspaniałe! Połączył nas m&oacute;j wynalazek. A sp&oacute;jrz na gości, jacy rozochoceni! Już coś iskrzy tu i tam!</p>
        <p><em>tonem orzeczenia</em></p>
        <p>A co? Kochasz mnie?</p>
        <p>&nbsp;</p>
        <p>KASIA</p>
        <p><em>szepcze</em></p>
        <p>Tadek. Ja ciebie zawsze kochałam.</p>
        <p>&nbsp;</p>
        <p>TADEUSZ</p>
        <p><em>z tym samym uśmiechem</em></p>
        <p>Co m&oacute;wisz? Zawsze?</p>
        <p><em>pauza</em></p>
        <p>Jak to: zawsze?</p>
        <p>&nbsp;</p>
        <p>KASIA</p>
        <p>Byłam... taka nieśmiała...</p>
        <p>&nbsp;</p>
        <p><em>Przestają tańczyć, TADEUSZ odsuwa się na krok od KASI i patrzy na nią zesztywniały. Trwa to dłuższą chwilę.</em></p>
        <p>&nbsp;</p>
        <p>TADEUSZ</p>
        <p>O... cholera.</p>
        <p><em>rozgląda się przerażony</em></p>
        <p>&nbsp;</p>
        <p>KASIA</p>
        <p><em>zaskoczona</em></p>
        <p>Co...</p>
        <p>&nbsp;</p>
        <p><em>Podchodzi do nich BIZNESMEN.</em></p>
        <p>&nbsp;</p>
        <p>BIZNESMEN</p>
        <p><em>nieco wstawiony</em></p>
        <p>Panie Grycz, winszuję! Pierwsza partia wyprzedana w dziewięćdziesięciu procentach. Wielki sukces!</p>
        <p><em>ściska mu dłoń</em></p>
        <p>&nbsp;</p>
        <p>TADEUSZ</p>
        <p><em>ocierając pot z czoła</em></p>
        <p>Co? To pan! Witam. Dziękuję.</p>
        <p>&nbsp;</p>
        <p>BIZNESMEN</p>
        <p><em>z uśmiechem</em></p>
        <p>Ależ pan to przeżywa. Zresztą, bardzo dobrze. W biznesie trzeba być poważnym graczem, jeśli chce się osiągnąć poważny cel. Pozwoli mi pan zatańczyć z panną młodą?</p>
        <p><em>podaje KASI ramię, znikają w tłumie</em></p>
        <p>&nbsp;</p>
        <p><em>TADEUSZ sam stoi na środku, zerka na obecnych. Taniec gości przeradza się w orgię, kobiety śmieją się i piszczą, mężczyźni emablują, wszyscy piją. Słychać dźwięk tłuczonego szkła. TADEUSZ chyłkiem przemieszcza się na lewo. Nagle zza jego plec&oacute;w wyłania się krągła pani.</em></p>
        <p>&nbsp;</p>
        <p>PANI</p>
        <p><em>krzyczy pijana, TADEUSZ podskakuje wystraszony</em></p>
        <p>Panie!</p>
        <p>&nbsp;</p>
        <p>TADEUSZ</p>
        <p>Ja muszę... na powietrze.</p>
        <p>&nbsp;</p>
        <p>PANI</p>
        <p>Panie, ten eliksir mi się nie podoba. Zawiodłam się.</p>
        <p>&nbsp;</p>
        <p>TADEUSZ</p>
        <p>Co... co się stało?</p>
        <p>&nbsp;</p>
        <p>PANI</p>
        <p>To pan nie wie? Śmierdzi. Wali gorzałą gorzej niż m&oacute;j stary.</p>
        <p>&nbsp;</p>
        <p>TADEUSZ</p>
        <p>To... na etanolu.</p>
        <p>&nbsp;</p>
        <p>PANI</p>
        <p>Ja wiem na czym. Pan mnie tu nie czaruje...</p>
        <p>&nbsp;</p>
        <p><em>Podchodzi elegancki mężczyzna i odciąga TADEUSZA.</em></p>
        <p>&nbsp;</p>
        <p>MĘŻCZYZNA</p>
        <p>Panie Grycz, przyjechali naukowcy z instytutu biologii. Koniecznie chcą z panem rozmawiać.</p>
        <p>&nbsp;</p>
        <p>TADEUSZ</p>
        <p>O matko! Nie teraz! Nie teraz!</p>
        <p>&nbsp;</p>
        <p>MĘŻCZYZNA</p>
        <p>Ależ to świetna okazja. Małżonka na pewno wybaczy panu. To ważne dla nauki.</p>
        <p>&nbsp;</p>
        <p>TADEUSZ</p>
        <p><em>całkiem blady, dygocząc</em></p>
        <p>Przepraszam na chwilę.</p>
        <p><em>znika w tłumie, wyłania się na prawo</em></p>
        <p>O żesz... Niech mnie zjedzą mikroby!</p>
        <p>&nbsp;</p>
        <p><em>Z tłumu wyłania się młoda dziewczyna.</em></p>
        <p>&nbsp;</p>
        <p>DZIEWCZYNA</p>
        <p>Jesteś! Gdzie żona?</p>
        <p><em>zarzuca mu ręce na szyję</em></p>
        <p>Pocałuj mnie.</p>
        <p>&nbsp;</p>
        <p>TADEUSZ</p>
        <p>Co robisz!</p>
        <p>&nbsp;</p>
        <p>DZIEWCZYNA</p>
        <p>Kocham cię.</p>
        <p>&nbsp;</p>
        <p>TADEUSZ</p>
        <p>To nie miłość! Jesteś pijana!</p>
        <p><em>wyrywa się, znika w tłumie</em></p>
        <p>&nbsp;</p>
        <p>DZIEWCZYNA</p>
        <p>Co? Nie miłość? A co?</p>
        <p>&nbsp;</p>
        <p><em>TADEUSZ wyłania się z tyłu, chce wyskoczyć przez okno, ale tylko wygląda i chowa się za zasłonę. </em></p>
        <p><em>KASIA przebiega salę, przeskakuje bezwładne ciała, omija ściskające się pary. Zauważa wystające spod zasłony buty.</em></p>
        <p>&nbsp;</p>
        <p>KASIA</p>
        <p>Tadek! Co się dzieje? Czemu wszyscy... są tacy dziwni?</p>
        <p>&nbsp;</p>
        <p>TADEUSZ</p>
        <p>Och, Kasiu, muszę wyjechać. M&oacute;j eliksir... m&oacute;j eliksir nie działa dokładnie tak, jak zakładałem.</p>
        <p><em>wyłania się zza zasłony, bierze ją za ręce</em></p>
        <p>Kasiu... jesteś moją żoną. Jedziesz ze mną?</p>
        <p>&nbsp;</p>
        <p>KASIA</p>
        <p><em>po chwili</em></p>
        <p>Tak.</p>
        <p>&nbsp;</p>
        <p>TADEUSZ</p>
        <p>Och, Kasiu! Jestem łotrem, oszustem, rajfurem. Sam nie wiem, jak to się stało!</p>
        <p>&nbsp;</p>
        <p>KASIA</p>
        <p>Cóż, los bawi się&nbsp;człowiekiem.</p>
        <p>&nbsp;</p>
        <p><em>TADEUSZ całuje jej dłoń, wymykają się na zewnątrz.</em></p>
        <p>&nbsp;</p>
        <p><em>Wchodzi WŁAŚCICIEL sali bankietowej oraz kilku policjant&oacute;w.</em></p>
        <p>&nbsp;</p>
        <p>WŁAŚCICIEL</p>
        <p>Tutaj! Tutaj! Rozpusta w mojej posesji! Dewastacja mienia! Horror!</p>
        <p>&nbsp;</p>
        <p>POLICJANT</p>
        <p>Spokojnie. Czyj to ślub?</p>
        <p>&nbsp;</p>
        <p>WŁAŚCICIEL</p>
        <p>Grycza z Wolską! Niemoralni ludzie!</p>
        <p>&nbsp;</p>
        <p><em>Policjanci podchodzą kolejno do ludzi, każą im wstawać, wychodzić itd.</em></p>
        <p>&nbsp;</p>
        <p><em>Wchodzi ADAM.</em></p>
        <p>&nbsp;</p>
        <p>ADAM</p>
        <p>Policja! Właściwie się nie dziwię.</p>
        <p>&nbsp;</p>
        <p>WŁAŚCICIEL</p>
        <p>O, to pan! A gdzie przyjaciel pana? Ktoś mi za to musi zapłacić.</p>
        <p><em>wskazuje ręką dokoła</em></p>
        <p>&nbsp;</p>
        <p>ADAM</p>
        <p>Tadeusz? Nigdzie nie mogę go znaleźć. Cha! Może czmychnął, widząc swe dzieło.</p>
        <p>&nbsp;</p>
        <p><em>POLICJANT odbiera telefon, przez dłuższą chwilę cicho rozmawia.</em></p>
        <p>&nbsp;</p>
        <p><em>Z lewej wchodzi PAN WOLSKI za nim PANI WOLSKA.</em></p>
        <p>&nbsp;</p>
        <p>PAN WOLSKI</p>
        <p>Postanowiłem.</p>
        <p>&nbsp;</p>
        <p>PANI WOLSKA</p>
        <p>Och, zlituj się! Po co nam to? Rozw&oacute;d! Tyle lat...</p>
        <p><em>zauważa obecnych</em></p>
        <p>&nbsp;</p>
        <p>WŁAŚCICIEL</p>
        <p><em>podbiega do nich</em></p>
        <p>Skandal, proszę państwa. Skandal. Gdzie jest c&oacute;rka pani?</p>
        <p>&nbsp;</p>
        <p>PANI WOLSKA</p>
        <p>Ach, straciłam moją Kasię!</p>
        <p><em>pochlipuje</em></p>
        <p>Moja kochana c&oacute;rka. Pocałowała mnie w czoło i wyszła. Pewnie już jej nie zobaczę!</p>
        <p><em>Tuli się do plec&oacute;w PANA WOLSKIEGO. Ten ostentacyjnie stoi sztywno z założonymi rękoma.</em></p>
        <p>&nbsp;</p>
        <p><em>ADAM przez cały czas obserwuje obecnych z ironicznym uśmieszkiem.</em></p>
        <p>&nbsp;</p>
        <p>WŁAŚCICIEL</p>
        <p>No, ładnie!</p>
        <p><em>do policjanta</em></p>
        <p>Trzeba ich ścigać.</p>
        <p>&nbsp;</p>
        <p>POLICJANT</p>
        <p>Proszę pana, tu nie chodzi tylko o naruszenie zasad moralnego postępowania. Tu miało miejsce poważne oszustwo.</p>
        <p>&nbsp;</p>
        <p>WŁAŚCICIEL</p>
        <p>Oszustwo?</p>
        <p>&nbsp;</p>
        <p>POLICJANT</p>
        <p>Wsp&oacute;lnik pana Grycza, Sikorski, to może być znany przestępca, Włodzimierz M. Od dawna poszukiwany za liczne przekręty biznesowe. Wraz z Gryczem w jedną noc wyłudzili około dwustu tysięcy złotych, sprzedając fałszywy produkt.</p>
        <p>&nbsp;</p>
        <p>PAN WOLSKI</p>
        <p>Co takiego?!</p>
        <p>&nbsp;</p>
        <p><em>POLICJANT wychodzi, za nim WŁAŚCICIEL.</em></p>
        <p>&nbsp;</p>
        <p>PANI WOLSKA</p>
        <p>O, Boże!</p>
        <p>&nbsp;</p>
        <p>ADAM</p>
        <p>No proszę, Tadzio chciał być wielkim naukowcem, a został zwykłym przestępcą. O, ironio losu. Biedna, lekkomyślna Kasia! Co z nią teraz będzie? A to wszystko dzięki wam, kochani. Oszaleliście przez ten wynalazek. Za nic mieliście moje ostrzeżenia...</p>
        <p>&nbsp;</p>
        <p>PAN WOLSKI</p>
        <p>Ja chciałem dobrze dla Kasi! Przecież ja to wszystko dla niej...</p>
        <p><em>urywa</em></p>
        <p>&nbsp;</p>
        <p>PANI WOLSKA</p>
        <p>Przepraszam. Jestem tylko słabą kobietą.</p>
        <p>&nbsp;</p>
        <p>ADAM</p>
        <p><em>śmieje się</em></p>
        <p>Marzyciele!</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>KONIEC.</p>
    </div>
	    <p>&nbsp; </p>
        <p class="year">2014</p>
{% endblock %}